* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v3157_5787 {
  width: 393px;
  height: 1253px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_5788 {
  width: 393px;
  height: 100%;
  background: rgba(245,245,246,1);
  opacity: 1;
  position: absolute;
  top: 110px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v3157_5790 {
  width: 361px;
  height: 44px;
  background: url("../images/v3157_5790.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 16px;
  overflow: hidden;
}
.v3157_5791 {
  width: 48px;
  height: 44px;
  background: rgba(245,245,246,1);
  padding: 10px 12px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v3157_5792 {
  width: 24px;
  height: 24px;
  background: url("../images/v3157_5792.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 12px;
  overflow: hidden;
}
.v3157_5793 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 24px;
  overflow: hidden;
}
.v3157_5794 {
  width: 14px;
  background: url("../images/v3157_5794.png");
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 5px;
  border: 1.9999998807907104px solid rgba(60,60,76,1);
}
.v3157_5795 {
  width: 6px;
  height: 6px;
  background: url("../images/v3157_5795.png");
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 13px;
  border: 1.9999998807907104px solid rgba(60,60,76,1);
}
.v3157_5796 {
  width: 6px;
  height: 6px;
  background: url("../images/v3157_5796.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 13px;
  border: 1.9999998807907104px solid rgba(60,60,76,1);
}
.v3157_5797 {
  width: 245px;
  color: rgba(46,49,56,1);
  position: absolute;
  top: 12px;
  left: 60px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3157_5798 {
  width: 44px;
  height: 44px;
  background: url("../images/v3157_5798.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 317px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v3157_5799 {
  width: 28px;
  height: 28px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.v3157_5800 {
  width: 22px;
  height: 22px;
  background: url("../images/v3157_5800.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
  border: 1.75px solid rgba(60,60,76,1);
}
.v3157_5801 {
  width: 4px;
  height: 7px;
  background: url("../images/v3157_5801.png");
  opacity: 0.4000000059604645;
  position: absolute;
  top: 8px;
  left: 11px;
  border: 1.75px solid rgba(60,60,76,1);
}
.v3157_5802 {
  width: 0px;
  background: url("../images/v3157_5802.png");
  opacity: 0.4000000059604645;
  position: absolute;
  top: 19px;
  left: 13px;
  border: 2.3333332538604736px solid rgba(60,60,76,1);
}
.v3157_5803 {
  width: 361px;
  height: 867px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 330px;
  left: 16px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  overflow: hidden;
}
.v3157_5804 {
  width: 321px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 105px;
  left: 20px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3157_5805 {
  width: 54px;
  height: 53px;
  background: rgba(249,239,231,1);
  padding: 5px 4px;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 291px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  overflow: hidden;
}
.v3157_5806 {
  width: 46px;
  height: 43px;
  background: url("../images/v3157_5806.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 4px;
  overflow: hidden;
}
.v3157_5807 {
  width: 15px;
  height: 13px;
  background: rgba(129,129,140,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 8px;
}
.v3157_5808 {
  width: 17px;
  height: 13px;
  background: rgba(255,192,0,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 21px;
}
.v3157_5809 {
  width: 46px;
  height: 43px;
  background: rgba(197,90,17,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v3157_5810 {
  width: 4px;
  height: 6px;
  background: rgba(204,153,0,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 23px;
}
.v3157_5811 {
  width: 212px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 25px;
  left: 74px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v3157_5812 {
  width: 44px;
  height: 44px;
  background: rgba(245,245,246,1);
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v3157_5813 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 10px;
  overflow: hidden;
}
.v3157_5814 {
  width: 15px;
  height: 0px;
  background: url("../images/v3157_5814.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 5px;
  border: 1.5px solid rgba(91,91,127,1);
}
.v3157_5815 {
  width: 4px;
  height: 10px;
  background: url("../images/v3157_5815.png");
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 4px;
  border: 1.5px solid rgba(91,91,127,1);
}
.v3157_5816 {
  width: 329px;
  height: 52px;
  background: rgba(60,60,76,1);
  padding: 12px 28px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 797px;
  left: 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v3157_5817 {
  width: 40px;
  color: rgba(250,243,229,1);
  position: absolute;
  top: 12px;
  left: 144px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v3157_5819 {
  width: 132px;
  height: 52px;
  background: rgba(249,239,231,1);
  padding: 14px 24px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 225px;
  left: 16px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v3157_5820 {
  width: 29px;
  color: rgba(197,90,17,1);
  position: absolute;
  top: 14px;
  left: 51px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_5821 {
  width: 132px;
  height: 52px;
  background: url("../images/v3157_5821.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 14px 24px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 225px;
  left: 160px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v3157_5822 {
  width: 22px;
  color: rgba(14,14,44,1);
  position: absolute;
  top: 14px;
  left: 55px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_5823 {
  width: 329px;
  height: 134px;
  background: rgba(249,249,249,1);
  padding: 14px 14px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 600px;
  left: 16px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v3157_5824 {
  width: 295px;
  color: rgba(14,14,44,1);
  position: absolute;
  top: 14px;
  left: 14px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: justified;
}
.v3157_5825 {
  width: 329px;
  height: 279px;
  background: url("../images/v3157_5825.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 9px;
  opacity: 1;
  position: absolute;
  top: 299px;
  left: 16px;
  overflow: hidden;
}
.v3157_5826 {
  width: 329px;
  color: rgba(171,171,178,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_5827 {
  width: 329px;
  height: 195px;
  background: rgba(255,255,255,1);
  padding: 28px 0px;
  margin: 18px;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v3157_5828 {
  width: 40px;
  height: 50px;
  background: url("../images/v3157_5828.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 51px;
  left: 144px;
  overflow: hidden;
}
.v3157_5829 {
  width: 40px;
  height: 50px;
  background: url("../images/v3157_5829.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_5830 {
  width: 39px;
  height: 49px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v3157_5831 {
  width: 40px;
  height: 50px;
  background: rgba(231,186,155,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v3157_5832 {
  width: 9px;
  height: 9px;
  background: url("../images/v3157_5832.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 30px;
  border: 0.9298798441886902px solid rgba(231,186,155,1);
}
.v3157_5833 {
  width: 19px;
  height: 18px;
  background: url("../images/v3157_5833.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 10px;
  overflow: hidden;
}
.v3157_5834 {
  width: 19px;
  height: 4px;
  background: url("../images/v3157_5834.png");
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 0px;
  border: 0.9298798441886902px solid rgba(231,186,155,1);
}
.v3157_5835 {
  width: 12px;
  height: 6px;
  background: url("../images/v3157_5835.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 3px;
  border: 0.9298798441886902px solid rgba(231,186,155,1);
}
.v3157_5836 {
  height: 14px;
  background: url("../images/v3157_5836.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 9px;
  border: 0.9298798441886902px solid rgba(231,186,155,1);
}
.v3157_5837 {
  width: 182px;
  color: rgba(14,14,44,1);
  position: absolute;
  top: 119px;
  left: 73px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_5838 {
  width: 329px;
  height: 42px;
  background: rgba(249,249,249,1);
  padding: 6px 14px;
  margin: 18px;
  opacity: 1;
  position: absolute;
  top: 237px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v3157_5839 {
  width: 183px;
  color: rgba(14,14,44,1);
  position: absolute;
  top: 11px;
  left: 14px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_5840 {
  width: 30px;
  height: 30px;
  background: url("../images/v3157_5840.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 6px 6px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 285px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v3157_5841 {
  width: 18px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 6px;
  overflow: hidden;
}
.v3157_5842 {
  width: 11px;
  height: 12px;
  background: url("../images/v3157_5842.png");
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 3px;
  border: 1.2000000476837158px solid rgba(255,59,48,1);
}
.v3157_5843 {
  width: 13px;
  height: 2px;
  background: url("../images/v3157_5843.png");
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 2px;
  border: 1.2000000476837158px solid rgba(255,59,48,1);
}
.v3157_5844 {
  width: 169px;
  color: rgba(171,171,178,1);
  position: absolute;
  top: 763px;
  left: 20px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v3157_5845 {
  width: 44px;
  color: rgba(174,174,178,1);
  position: absolute;
  top: 739px;
  left: 298px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v3157_5846 {
  width: 361px;
  height: 104px;
  background: url("../images/v3157_5846.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 194px;
  left: 16px;
  overflow: hidden;
}
.v3157_5847 {
  width: 361px;
  color: rgba(166,166,166,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_5848 {
  width: 361px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 28px;
  left: 0px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v3157_5849 {
  width: 361px;
  height: 20px;
  background: url("../images/v3157_5849.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: -1px;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 0px;
  overflow: hidden;
}
.v3157_5850 {
  width: 145px;
  color: rgba(174,174,178,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v3157_5851 {
  width: 13px;
  height: 11px;
  background: url("../images/v3157_5851.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 144px;
  overflow: hidden;
}
.v3157_5852 {
  width: 9px;
  color: rgba(255,59,48,1);
  position: absolute;
  top: 5px;
  left: 3px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_5853 {
  width: 361px;
  height: 6px;
  background: url("../images/v3157_5853.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 88px;
  left: 0px;
  overflow: hidden;
}
.v3157_5854 {
  width: 360px;
  height: 6px;
  background: url("../images/v3157_5854.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 98px;
  left: 0px;
  overflow: hidden;
}
.v3157_5855 {
  width: 53px;
  height: 6px;
  background: rgba(197,90,17,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 37px;
  border-top-right-radius: 37px;
  border-bottom-left-radius: 37px;
  border-bottom-right-radius: 37px;
  overflow: hidden;
}
.v3157_5856 {
  width: 53px;
  height: 6px;
  background: rgba(235,235,237,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 61px;
  border-top-left-radius: 37px;
  border-top-right-radius: 37px;
  border-bottom-left-radius: 37px;
  border-bottom-right-radius: 37px;
  overflow: hidden;
}
.v3157_5857 {
  width: 53px;
  height: 6px;
  background: rgba(235,235,237,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 122px;
  border-top-left-radius: 37px;
  border-top-right-radius: 37px;
  border-bottom-left-radius: 37px;
  border-bottom-right-radius: 37px;
  overflow: hidden;
}
.v3157_5858 {
  width: 53px;
  height: 6px;
  background: rgba(235,235,237,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 184px;
  border-top-left-radius: 37px;
  border-top-right-radius: 37px;
  border-bottom-left-radius: 37px;
  border-bottom-right-radius: 37px;
  overflow: hidden;
}
.v3157_5859 {
  width: 53px;
  height: 6px;
  background: rgba(235,235,237,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 245px;
  border-top-left-radius: 37px;
  border-top-right-radius: 37px;
  border-bottom-left-radius: 37px;
  border-bottom-right-radius: 37px;
  overflow: hidden;
}
.v3157_5860 {
  width: 53px;
  height: 6px;
  background: rgba(235,235,237,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 306px;
  border-top-left-radius: 37px;
  border-top-right-radius: 37px;
  border-bottom-left-radius: 37px;
  border-bottom-right-radius: 37px;
  overflow: hidden;
}
.v3157_5861 {
  width: 100%;
  height: 60px;
  background: url("../images/v3157_5861.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: -22px;
  opacity: 1;
  position: absolute;
  top: 110px;
  left: 449px;
  overflow: hidden;
}
.v3157_5862 {
  width: 100%;
  height: 60px;
  background: url("../images/v3157_5862.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 18px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_5863 {
  width: 245px;
  height: 60px;
  background: url("../images/v3157_5863.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 18px 0px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_5864 {
  width: 169px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 18px;
  left: 38px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_5865 {
  width: 50px;
  height: 4px;
  background: rgba(255,192,0,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 0px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  overflow: hidden;
}
.v3157_5866 {
  width: 245px;
  height: 60px;
  background: url("../images/v3157_5866.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 18px 0px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 263px;
  overflow: hidden;
}
.v3157_5867 {
  width: 181px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 18px;
  left: 32px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_5868 {
  width: 50px;
  height: 4px;
  background: rgba(255,192,0,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 0px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  overflow: hidden;
}
.v3157_5869 {
  width: 245px;
  height: 60px;
  background: rgba(249,239,231,0.5);
  padding: 18px 0px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 526px;
  overflow: hidden;
}
.v3157_5870 {
  width: 212px;
  color: rgba(197,90,17,1);
  position: absolute;
  top: 18px;
  left: 16px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_5871 {
  width: 50px;
  height: 4px;
  background: rgba(255,192,0,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 0px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  overflow: hidden;
}
.v3157_5872 {
  width: 245px;
  height: 60px;
  background: url("../images/v3157_5872.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 18px 0px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 789px;
  overflow: hidden;
}
.v3157_5873 {
  width: 164px;
  color: rgba(138,138,148,1);
  position: absolute;
  top: 18px;
  left: 40px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_5874 {
  width: 50px;
  height: 4px;
  background: rgba(255,192,0,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 0px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  overflow: hidden;
}
.v3157_5875 {
  width: 100%;
  height: 3px;
  background: url("../images/v3157_5875.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 18px;
  opacity: 1;
  position: absolute;
  top: 57px;
  left: 0px;
  overflow: hidden;
}
.v3157_5876 {
  width: 245px;
  height: 3px;
  background: rgba(235,235,237,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 37px;
  border-top-right-radius: 37px;
  border-bottom-left-radius: 37px;
  border-bottom-right-radius: 37px;
  overflow: hidden;
}
.v3157_5877 {
  width: 245px;
  height: 3px;
  background: rgba(235,235,237,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 263px;
  border-top-left-radius: 37px;
  border-top-right-radius: 37px;
  border-bottom-left-radius: 37px;
  border-bottom-right-radius: 37px;
  overflow: hidden;
}
.v3157_5878 {
  width: 245px;
  height: 3px;
  background: rgba(197,90,17,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 526px;
  border-top-left-radius: 37px;
  border-top-right-radius: 37px;
  border-bottom-left-radius: 37px;
  border-bottom-right-radius: 37px;
  overflow: hidden;
}
.v3157_5879 {
  width: 245px;
  height: 3px;
  background: rgba(235,235,237,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 789px;
  border-top-left-radius: 37px;
  border-top-right-radius: 37px;
  border-bottom-left-radius: 37px;
  border-bottom-right-radius: 37px;
  overflow: hidden;
}
