* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v3157_13145 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_13146 {
  width: 100%;
  height: 70px;
  background: rgba(34,34,43,1);
  padding: 8px 162px;
  margin: 126px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_13147 {
  width: 141px;
  height: 54px;
  background: url("../images/v3157_13147.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 162px;
  overflow: hidden;
}
.v3157_13148 {
  width: 60px;
  height: 54px;
  background: url("../images/v3157_13148.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 30px;
  overflow: hidden;
}
.v3157_13149 {
  width: 20px;
  height: 16px;
  background: rgba(129,129,140,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 11px;
}
.v3157_13150 {
  width: 22px;
  height: 16px;
  background: rgba(255,192,0,1);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 28px;
}
.v3157_13151 {
  width: 60px;
  height: 54px;
  background: rgba(197,90,17,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v3157_13152 {
  width: 6px;
  height: 8px;
  background: rgba(204,153,0,1);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 31px;
}
.v3157_13153 {
  width: 8px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 76px;
}
.v3157_13154 {
  width: 9px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 132px;
}
.v3157_13155 {
  width: 11px;
  height: 17px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 120px;
}
.v3157_13156 {
  width: 9px;
  height: 15px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 87px;
}
.v3157_13157 {
  width: 9px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 109px;
}
.v3157_13158 {
  width: 10px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 98px;
}
.v3157_13159 {
  width: 17px;
  height: 15px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 0px;
}
.v3157_13160 {
  width: 3px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 19px;
}
.v3157_13161 {
  width: 9px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 24px;
}
.v3157_13162 {
  width: 10px;
  height: 15px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 35px;
}
.v3157_13163 {
  width: 415px;
  height: 40px;
  background: url("../images/v3157_13163.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 18px;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 863px;
  overflow: hidden;
}
.v3157_13164 {
  width: 105px;
  height: 24px;
  background: url("../images/v3157_13164.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 45px;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 0px;
  overflow: hidden;
}
.v3157_13165 {
  width: 41px;
  color: rgba(177,177,183,1);
  position: absolute;
  top: 0px;
  left: 32px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_13166 {
  width: 144px;
  height: 40px;
  background: rgba(60,60,76,1);
  padding: 8px 18px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 123px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v3157_13167 {
  width: 108px;
  color: rgba(250,243,229,1);
  position: absolute;
  top: 10px;
  left: 18px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_13168 {
  width: 130px;
  height: 40px;
  background: rgba(250,243,229,1);
  padding: 8px 18px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 285px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v3157_13169 {
  width: 26px;
  height: 26px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 18px;
  overflow: hidden;
}
.v3157_13170 {
  width: 26px;
  height: 26px;
  background: url("../images/v3157_13170.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 0px;
  overflow: hidden;
}
.v3157_13171 {
  width: 26px;
  height: 26px;
  background: url("../images/v3157_13171.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_13172 {
  width: 26px;
  height: 26px;
  background: url("../images/v3157_13172.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_13173 {
  width: 26px;
  height: 26px;
  background: url("../images/v3157_13173.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_13174 {
  width: 26px;
  height: 26px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v3157_13175 {
  width: 24px;
  height: 24px;
  background: url("../images/v3157_13175.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v3157_13176 {
  width: 8px;
  height: 8px;
  background: url("../images/v3157_13176.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 8px;
  overflow: hidden;
}
.v3157_13177 {
  width: 8px;
  height: 8px;
  background: url("../images/v3157_13177.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1.2000000476837158px solid rgba(60,60,76,1);
}
.v3157_13178 {
  width: 15px;
  height: 6px;
  background: url("../images/v3157_13178.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 4px;
  overflow: hidden;
}
.v3157_13179 {
  width: 15px;
  height: 6px;
  background: url("../images/v3157_13179.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1.2000000476837158px solid rgba(60,60,76,1);
}
.v3157_13180 {
  width: 1px;
  height: 1px;
  background: url("../images/v3157_13180.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 21px;
  overflow: hidden;
}
.v3157_13181 {
  width: 1px;
  height: 1px;
  background: rgba(60,60,76,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v3157_13182 {
  width: 24px;
  height: 24px;
  background: url("../images/v3157_13182.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_13183 {
  width: 24px;
  height: 24px;
  background: url("../images/v3157_13183.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1.2000000476837158px solid rgba(60,60,76,1);
}
.v3157_13184 {
  width: 36px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 10px;
  left: 54px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_13185 {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 100px;
  overflow: hidden;
}
.v3157_13186 {
  width: 7px;
  height: 4px;
  background: rgba(197,197,201,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 2px;
}
.v3157_13187 {
  width: 229px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 204px;
  left: 162px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v3157_13188 {
  width: 100%;
  height: 64px;
  background: url("../images/v3157_13188.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 70px;
  left: 0px;
  overflow: hidden;
}
.v3157_13189 {
  width: 404px;
  height: 64px;
  background: url("../images/v3157_13189.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 0px;
  margin: 42px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 162px;
  overflow: hidden;
}
.v3157_13190 {
  width: 78px;
  color: rgba(157,157,165,1);
  position: absolute;
  top: 24px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v3157_13191 {
  width: 151px;
  height: 56px;
  background: url("../images/v3157_13191.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 14px;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 120px;
  overflow: hidden;
}
.v3157_13192 {
  width: 151px;
  height: 24px;
  background: url("../images/v3157_13192.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 0px;
  overflow: hidden;
}
.v3157_13193 {
  width: 75px;
  color: rgba(197,90,17,1);
  position: absolute;
  top: 0px;
  left: 38px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_13194 {
  width: 151px;
  height: 4px;
  background: rgba(255,192,0,1);
  opacity: 1;
  position: absolute;
  top: 52px;
  left: 0px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  overflow: hidden;
}
.v3157_13195 {
  width: 91px;
  color: rgba(157,157,165,1);
  position: absolute;
  top: 24px;
  left: 313px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v3157_13196 {
  width: 89px;
  color: rgba(157,157,165,1);
  position: absolute;
  top: 176px;
  left: 162px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v3157_13197 {
  width: 100%;
  height: 686px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 274px;
  left: 159px;
  border: 1.5px solid rgba(243,243,243,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 4px 100px rgba(0.7921568751335144, 0.7921568751335144, 0.7921568751335144, 0.20000000298023224);
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v3157_13200 {
  width: 72px;
  color: rgba(157,157,165,1);
  position: absolute;
  top: 298px;
  left: 196px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_13201 {
  width: 97px;
  color: rgba(157,157,165,1);
  position: absolute;
  top: 298px;
  left: 476px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_13202 {
  width: 34px;
  color: rgba(157,157,165,1);
  position: absolute;
  top: 298px;
  left: 761px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_13203 {
  width: 61px;
  color: rgba(157,157,165,1);
  position: absolute;
  top: 298px;
  left: 951px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_13204 {
  width: 75px;
  color: rgba(157,157,165,1);
  position: absolute;
  top: 298px;
  left: 1144px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v3157_13211 {
  width: 134px;
  color: rgba(132,132,142,1);
  position: absolute;
  top: 375px;
  left: 761px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_13212 {
  width: 134px;
  color: rgba(132,132,142,1);
  position: absolute;
  top: 465px;
  left: 761px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_13213 {
  width: 134px;
  color: rgba(132,132,142,1);
  position: absolute;
  top: 555px;
  left: 761px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_13214 {
  width: 134px;
  color: rgba(132,132,142,1);
  position: absolute;
  top: 645px;
  left: 761px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_13215 {
  width: 134px;
  color: rgba(132,132,142,1);
  position: absolute;
  top: 735px;
  left: 761px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_13216 {
  width: 134px;
  color: rgba(132,132,142,1);
  position: absolute;
  top: 825px;
  left: 761px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_13217 {
  width: 134px;
  color: rgba(132,132,142,1);
  position: absolute;
  top: 365px;
  left: 951px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_13218 {
  width: 134px;
  color: rgba(132,132,142,1);
  position: absolute;
  top: 465px;
  left: 951px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_13219 {
  width: 134px;
  color: rgba(132,132,142,1);
  position: absolute;
  top: 545px;
  left: 951px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_13220 {
  width: 134px;
  color: rgba(132,132,142,1);
  position: absolute;
  top: 645px;
  left: 951px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_13221 {
  width: 134px;
  color: rgba(132,132,142,1);
  position: absolute;
  top: 735px;
  left: 951px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_13222 {
  width: 134px;
  color: rgba(132,132,142,1);
  position: absolute;
  top: 825px;
  left: 951px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_13223 {
  width: 229px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 364px;
  left: 191px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_13224 {
  width: 229px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 454px;
  left: 191px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_13225 {
  width: 229px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 544px;
  left: 191px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_13226 {
  width: 229px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 634px;
  left: 191px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_13227 {
  width: 229px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 724px;
  left: 191px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_13228 {
  width: 229px;
  color: rgba(132,132,142,1);
  position: absolute;
  top: 389px;
  left: 191px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v3157_13229 {
  width: 229px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 814px;
  left: 191px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_13230 {
  width: 229px;
  color: rgba(132,132,142,1);
  position: absolute;
  top: 479px;
  left: 191px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v3157_13231 {
  width: 229px;
  color: rgba(132,132,142,1);
  position: absolute;
  top: 569px;
  left: 191px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v3157_13232 {
  width: 229px;
  color: rgba(132,132,142,1);
  position: absolute;
  top: 659px;
  left: 191px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v3157_13233 {
  width: 229px;
  color: rgba(132,132,142,1);
  position: absolute;
  top: 749px;
  left: 191px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v3157_13234 {
  width: 229px;
  color: rgba(132,132,142,1);
  position: absolute;
  top: 839px;
  left: 191px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v3157_13235 {
  width: 102px;
  height: 36px;
  background: rgba(197,90,17,0.07999999821186066);
  padding: 6px 16px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 367px;
  left: 1131px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v3157_13236 {
  width: 70px;
  color: rgba(197,90,17,1);
  position: absolute;
  top: 6px;
  left: 16px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v3157_13237 {
  width: 102px;
  height: 36px;
  background: rgba(197,90,17,0.07999999821186066);
  padding: 6px 16px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 457px;
  left: 1131px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v3157_13238 {
  width: 70px;
  color: rgba(197,90,17,1);
  position: absolute;
  top: 6px;
  left: 16px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v3157_13239 {
  width: 102px;
  height: 36px;
  background: rgba(197,90,17,0.07999999821186066);
  padding: 6px 16px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 547px;
  left: 1131px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v3157_13240 {
  width: 70px;
  color: rgba(197,90,17,1);
  position: absolute;
  top: 6px;
  left: 16px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v3157_13241 {
  width: 102px;
  height: 36px;
  background: rgba(197,90,17,0.07999999821186066);
  padding: 6px 16px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 637px;
  left: 1131px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v3157_13242 {
  width: 70px;
  color: rgba(197,90,17,1);
  position: absolute;
  top: 6px;
  left: 16px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v3157_13243 {
  width: 102px;
  height: 36px;
  background: rgba(197,90,17,0.07999999821186066);
  padding: 6px 16px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 727px;
  left: 1131px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v3157_13244 {
  width: 70px;
  color: rgba(197,90,17,1);
  position: absolute;
  top: 6px;
  left: 16px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v3157_13245 {
  width: 102px;
  height: 36px;
  background: rgba(197,90,17,0.07999999821186066);
  padding: 6px 16px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 817px;
  left: 1131px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v3157_13246 {
  width: 70px;
  color: rgba(197,90,17,1);
  position: absolute;
  top: 6px;
  left: 16px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v3157_13247 {
  width: 229px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 361px;
  left: 476px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_13248 {
  width: 229px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 451px;
  left: 476px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_13249 {
  width: 229px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 541px;
  left: 476px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_13250 {
  width: 229px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 631px;
  left: 476px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_13251 {
  width: 229px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 721px;
  left: 476px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_13252 {
  width: 229px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 811px;
  left: 476px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
