* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v3157_4436 {
  width: 393px;
  height: 985px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v3157_4438 {
  width: 361px;
  height: 44px;
  background: url("../images/v3157_4438.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 16px;
  overflow: hidden;
}
.v3157_4439 {
  width: 48px;
  height: 44px;
  background: rgba(245,245,246,1);
  padding: 10px 12px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v3157_4440 {
  width: 24px;
  height: 24px;
  background: url("../images/v3157_4440.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 12px;
  overflow: hidden;
}
.v3157_4441 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 24px;
  overflow: hidden;
}
.v3157_4442 {
  width: 14px;
  background: url("../images/v3157_4442.png");
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 5px;
  border: 1.9999998807907104px solid rgba(60,60,76,1);
}
.v3157_4443 {
  width: 6px;
  height: 6px;
  background: url("../images/v3157_4443.png");
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 13px;
  border: 1.9999998807907104px solid rgba(60,60,76,1);
}
.v3157_4444 {
  width: 6px;
  height: 6px;
  background: url("../images/v3157_4444.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 13px;
  border: 1.9999998807907104px solid rgba(60,60,76,1);
}
.v3157_4445 {
  width: 241px;
  color: rgba(46,49,56,1);
  position: absolute;
  top: 12px;
  left: 60px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3157_4446 {
  width: 48px;
  height: 44px;
  background: rgba(245,245,246,1);
  padding: 10px 12px;
  margin: 10px;
  position: absolute;
  top: 0px;
  left: 313px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v3157_4447 {
  width: 24px;
  height: 24px;
  background: url("../images/v3157_4447.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 12px;
  overflow: hidden;
}
.v3157_4448 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_4449 {
  width: 14px;
  height: 19px;
  background: url("../images/v3157_4449.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 4px;
  overflow: hidden;
}
.v3157_4450 {
  width: 14px;
  height: 15px;
  background: url("../images/v3157_4450.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1.5px solid rgba(60,60,76,1);
}
.v3157_4451 {
  width: 4px;
  height: 1px;
  background: url("../images/v3157_4451.png");
  opacity: 0.4000000059604645;
  position: absolute;
  top: 18px;
  left: 5px;
  border: 1.5px solid rgba(60,60,76,1);
}
.v3157_4452 {
  width: 6px;
  height: 6px;
  background: rgba(247,85,85,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 16px;
  border-radius: 50%;
}
.v3157_4453 {
  width: 393px;
  height: 46px;
  background: linear-gradient(rgba(245,245,246,1), rgba(245,245,246,0));
  opacity: 1;
  position: absolute;
  top: 109px;
  left: 0px;
  overflow: hidden;
}
.v3157_4454 {
  width: 393px;
  height: 984px;
  background: rgba(245,245,246,1);
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 109px;
  left: 0px;
  overflow: hidden;
}
.v3157_4455 {
  width: 361px;
  height: 60px;
  background: url("../images/v3157_4455.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 16px;
  overflow: hidden;
}
.v3157_4456 {
  width: 89px;
  color: rgba(138,138,148,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v3157_4457 {
  width: 184px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 28px;
  left: 0px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v3157_4458 {
  width: 361px;
  height: 233px;
  background: rgba(255,255,255,1);
  padding: 16px 16px;
  margin: 18px;
  opacity: 1;
  position: absolute;
  top: 222px;
  left: 16px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v3157_4459 {
  width: 328px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 16px;
  left: 16px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_4460 {
  width: 229px;
  height: 43px;
  background: url("../images/v3157_4460.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 1px;
  opacity: 1;
  position: absolute;
  top: 82px;
  left: 16px;
  overflow: hidden;
}
.v3157_4461 {
  width: 229px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_4462 {
  width: 229px;
  color: rgba(132,132,142,1);
  position: absolute;
  top: 25px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v3157_4463 {
  width: 186px;
  height: 20px;
  background: url("../images/v3157_4463.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 143px;
  left: 16px;
  overflow: hidden;
}
.v3157_4464 {
  width: 16px;
  height: 16px;
  background: url("../images/v3157_4464.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  overflow: hidden;
}
.v3157_4465 {
  width: 12px;
  height: 13px;
  background: url("../images/v3157_4465.png");
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 2px;
  border: 1px solid rgba(60,60,76,1);
}
.v3157_4466 {
  width: 162px;
  color: rgba(132,132,142,1);
  position: absolute;
  top: 0px;
  left: 24px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_4467 {
  width: 329px;
  height: 36px;
  background: url("../images/v3157_4467.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 181px;
  left: 16px;
  overflow: hidden;
}
.v3157_4468 {
  width: 215px;
  color: rgba(132,132,142,1);
  position: absolute;
  top: 8px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_4469 {
  width: 102px;
  height: 36px;
  background: rgba(197,90,17,0.07999999821186066);
  padding: 6px 16px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 227px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v3157_4470 {
  width: 70px;
  color: rgba(197,90,17,1);
  position: absolute;
  top: 6px;
  left: 16px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v3157_4471 {
  width: 361px;
  height: 209px;
  background: rgba(255,255,255,1);
  padding: 16px 16px;
  margin: 18px;
  opacity: 1;
  position: absolute;
  top: 471px;
  left: 16px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v3157_4472 {
  width: 328px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 16px;
  left: 16px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_4473 {
  width: 229px;
  height: 43px;
  background: url("../images/v3157_4473.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 1px;
  opacity: 1;
  position: absolute;
  top: 58px;
  left: 16px;
  overflow: hidden;
}
.v3157_4474 {
  width: 229px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_4475 {
  width: 229px;
  color: rgba(132,132,142,1);
  position: absolute;
  top: 25px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v3157_4476 {
  width: 90px;
  height: 20px;
  background: url("../images/v3157_4476.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 119px;
  left: 16px;
  overflow: hidden;
}
.v3157_4477 {
  width: 16px;
  height: 16px;
  background: url("../images/v3157_4477.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  overflow: hidden;
}
.v3157_4478 {
  width: 12px;
  height: 13px;
  background: url("../images/v3157_4478.png");
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 2px;
  border: 1px solid rgba(60,60,76,1);
}
.v3157_4479 {
  width: 66px;
  color: rgba(132,132,142,1);
  position: absolute;
  top: 0px;
  left: 24px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_4480 {
  width: 329px;
  height: 36px;
  background: url("../images/v3157_4480.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 157px;
  left: 16px;
  overflow: hidden;
}
.v3157_4481 {
  width: 215px;
  color: rgba(132,132,142,1);
  position: absolute;
  top: 8px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_4482 {
  width: 102px;
  height: 36px;
  background: rgba(197,90,17,0.07999999821186066);
  padding: 6px 16px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 227px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v3157_4483 {
  width: 70px;
  color: rgba(197,90,17,1);
  position: absolute;
  top: 6px;
  left: 16px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v3157_4484 {
  width: 361px;
  height: 233px;
  background: rgba(255,255,255,1);
  padding: 16px 16px;
  margin: 18px;
  opacity: 1;
  position: absolute;
  top: 696px;
  left: 16px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v3157_4485 {
  width: 328px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 16px;
  left: 16px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_4486 {
  width: 229px;
  height: 43px;
  background: url("../images/v3157_4486.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 1px;
  opacity: 1;
  position: absolute;
  top: 82px;
  left: 16px;
  overflow: hidden;
}
.v3157_4487 {
  width: 229px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_4488 {
  width: 229px;
  color: rgba(132,132,142,1);
  position: absolute;
  top: 25px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v3157_4489 {
  width: 200px;
  height: 20px;
  background: url("../images/v3157_4489.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 143px;
  left: 16px;
  overflow: hidden;
}
.v3157_4490 {
  width: 16px;
  height: 16px;
  background: url("../images/v3157_4490.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  overflow: hidden;
}
.v3157_4491 {
  width: 12px;
  height: 13px;
  background: url("../images/v3157_4491.png");
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 2px;
  border: 1px solid rgba(60,60,76,1);
}
.v3157_4492 {
  width: 176px;
  color: rgba(132,132,142,1);
  position: absolute;
  top: 0px;
  left: 24px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_4493 {
  width: 329px;
  height: 36px;
  background: url("../images/v3157_4493.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 181px;
  left: 16px;
  overflow: hidden;
}
.v3157_4494 {
  width: 215px;
  color: rgba(132,132,142,1);
  position: absolute;
  top: 8px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_4495 {
  width: 102px;
  height: 36px;
  background: rgba(197,90,17,0.07999999821186066);
  padding: 6px 16px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 227px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v3157_4496 {
  width: 70px;
  color: rgba(197,90,17,1);
  position: absolute;
  top: 6px;
  left: 16px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
