* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v3157_9969 {
  width: 100%;
  height: 962px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_9971 {
  width: 100%;
  height: 88px;
  background: rgba(34,34,43,1);
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 8px;
  overflow: hidden;
}
.v3157_9972 {
  width: 100%;
  height: 70px;
  background: rgba(34,34,43,1);
  padding: 8px 162px;
  margin: 126px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_9973 {
  width: 141px;
  height: 54px;
  background: url("../images/v3157_9973.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 162px;
  overflow: hidden;
}
.v3157_9974 {
  width: 60px;
  height: 54px;
  background: url("../images/v3157_9974.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 30px;
  overflow: hidden;
}
.v3157_9975 {
  width: 20px;
  height: 16px;
  background: rgba(129,129,140,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 11px;
}
.v3157_9976 {
  width: 22px;
  height: 16px;
  background: rgba(255,192,0,1);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 28px;
}
.v3157_9977 {
  width: 60px;
  height: 54px;
  background: rgba(197,90,17,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v3157_9978 {
  width: 6px;
  height: 8px;
  background: rgba(204,153,0,1);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 31px;
}
.v3157_9979 {
  width: 8px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 76px;
}
.v3157_9980 {
  width: 9px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 132px;
}
.v3157_9981 {
  width: 11px;
  height: 17px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 120px;
}
.v3157_9982 {
  width: 9px;
  height: 15px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 87px;
}
.v3157_9983 {
  width: 9px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 109px;
}
.v3157_9984 {
  width: 10px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 98px;
}
.v3157_9985 {
  width: 17px;
  height: 15px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 0px;
}
.v3157_9986 {
  width: 3px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 19px;
}
.v3157_9987 {
  width: 9px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 24px;
}
.v3157_9988 {
  width: 10px;
  height: 15px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 35px;
}
.v3157_9989 {
  width: 578px;
  height: 40px;
  background: url("../images/v3157_9989.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 18px;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 700px;
  overflow: hidden;
}
.v3157_9990 {
  width: 253px;
  height: 24px;
  background: url("../images/v3157_9990.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 45px;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 0px;
  overflow: hidden;
}
.v3157_9991 {
  width: 30px;
  height: 24px;
  background: url("../images/v3157_9991.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 32px;
  overflow: hidden;
}
.v3157_9992 {
  width: 30px;
  color: rgba(177,177,183,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_9993 {
  width: 50px;
  height: 4px;
  background: rgba(255,192,0,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 0px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  overflow: hidden;
}
.v3157_9994 {
  width: 28px;
  height: 24px;
  background: url("../images/v3157_9994.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 107px;
  overflow: hidden;
}
.v3157_9995 {
  width: 28px;
  color: rgba(177,177,183,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_9996 {
  width: 50px;
  height: 4px;
  background: rgba(255,192,0,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 0px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  overflow: hidden;
}
.v3157_9997 {
  width: 41px;
  color: rgba(177,177,183,1);
  position: absolute;
  top: 0px;
  left: 180px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_9998 {
  width: 159px;
  height: 40px;
  background: rgba(60,60,76,1);
  padding: 8px 18px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 271px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v3157_9999 {
  width: 123px;
  color: rgba(250,243,229,1);
  position: absolute;
  top: 10px;
  left: 18px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_10000 {
  width: 130px;
  height: 40px;
  background: rgba(250,243,229,1);
  padding: 8px 18px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 448px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v3157_10001 {
  width: 26px;
  height: 26px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 18px;
  overflow: hidden;
}
.v3157_10002 {
  width: 26px;
  height: 26px;
  background: url("../images/v3157_10002.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 0px;
  overflow: hidden;
}
.v3157_10003 {
  width: 26px;
  height: 26px;
  background: url("../images/v3157_10003.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_10004 {
  width: 26px;
  height: 26px;
  background: url("../images/v3157_10004.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_10005 {
  width: 26px;
  height: 26px;
  background: url("../images/v3157_10005.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_10006 {
  width: 26px;
  height: 26px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v3157_10007 {
  width: 24px;
  height: 24px;
  background: url("../images/v3157_10007.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v3157_10008 {
  width: 8px;
  height: 8px;
  background: url("../images/v3157_10008.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 8px;
  overflow: hidden;
}
.v3157_10009 {
  width: 8px;
  height: 8px;
  background: url("../images/v3157_10009.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1.2000000476837158px solid rgba(60,60,76,1);
}
.v3157_10010 {
  width: 15px;
  height: 6px;
  background: url("../images/v3157_10010.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 4px;
  overflow: hidden;
}
.v3157_10011 {
  width: 15px;
  height: 6px;
  background: url("../images/v3157_10011.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1.2000000476837158px solid rgba(60,60,76,1);
}
.v3157_10012 {
  width: 1px;
  height: 1px;
  background: url("../images/v3157_10012.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 21px;
  overflow: hidden;
}
.v3157_10013 {
  width: 1px;
  height: 1px;
  background: rgba(60,60,76,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v3157_10014 {
  width: 24px;
  height: 24px;
  background: url("../images/v3157_10014.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_10015 {
  width: 24px;
  height: 24px;
  background: url("../images/v3157_10015.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1.2000000476837158px solid rgba(60,60,76,1);
}
.v3157_10016 {
  width: 36px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 10px;
  left: 54px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_10017 {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 100px;
  overflow: hidden;
}
.v3157_10018 {
  width: 7px;
  height: 4px;
  background: rgba(197,197,201,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 2px;
}
.v3157_10019 {
  width: 100%;
  height: 100%;
  background: rgba(245,245,246,1);
  opacity: 1;
  position: absolute;
  top: 130px;
  left: 0px;
  overflow: hidden;
}
.v3157_10020 {
  width: 722px;
  height: 462px;
  background: rgba(255,255,255,1);
  padding: 28px 28px;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 1200px;
  left: 162px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v3157_10021 {
  width: 666px;
  height: 82px;
  background: url("../images/v3157_10021.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 28px;
  overflow: hidden;
}
.v3157_10022 {
  width: 146px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v3157_10023 {
  width: 666px;
  color: rgba(171,171,178,1);
  position: absolute;
  top: 34px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_10024 {
  width: 666px;
  height: 52px;
  background: url("../images/v3157_10024.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 21px;
  opacity: 1;
  position: absolute;
  top: 134px;
  left: 28px;
  overflow: hidden;
}
.v3157_10025 {
  width: 322px;
  height: 52px;
  background: rgba(255,255,255,1);
  padding: 16px 16px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v3157_10026 {
  width: 256px;
  color: rgba(174,174,178,1);
  position: absolute;
  top: 15px;
  left: 16px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_10027 {
  width: 40px;
  height: 20px;
  background: rgba(255,255,255,1);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 12px;
  overflow: hidden;
}
.v3157_10028 {
  width: 32px;
  color: rgba(174,174,178,1);
  position: absolute;
  top: 0px;
  left: 4px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v3157_10029 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 282px;
  overflow: hidden;
}
.v3157_10030 {
  width: 12px;
  height: 6px;
  background: url("../images/v3157_10030.png");
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 6px;
  border: 1.5px solid rgba(20,27,52,1);
}
.v3157_10031 {
  width: 322px;
  height: 52px;
  background: rgba(255,255,255,1);
  padding: 16px 16px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 343px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v3157_10032 {
  width: 256px;
  color: rgba(174,174,178,1);
  position: absolute;
  top: 15px;
  left: 16px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_10033 {
  width: 40px;
  height: 20px;
  background: rgba(255,255,255,1);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 12px;
  overflow: hidden;
}
.v3157_10034 {
  width: 32px;
  color: rgba(174,174,178,1);
  position: absolute;
  top: 0px;
  left: 4px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v3157_10035 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 282px;
  overflow: hidden;
}
.v3157_10036 {
  width: 12px;
  height: 6px;
  background: url("../images/v3157_10036.png");
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 6px;
  border: 1.5px solid rgba(20,27,52,1);
}
.v3157_10037 {
  width: 666px;
  height: 224px;
  background: url("../images/v3157_10037.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 210px;
  left: 28px;
  overflow: hidden;
}
.v3157_10038 {
  width: 666px;
  height: 200px;
  background: url("../images/v3157_10038.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v3157_10039 {
  width: 213px;
  height: 17px;
  background: url("../images/v3157_10039.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 207px;
  left: 0px;
  overflow: hidden;
}
.v3157_10040 {
  width: 16px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_10041 {
  width: 16px;
  height: 16px;
  background: url("../images/v3157_10041.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_10042 {
  width: 16px;
  height: 16px;
  background: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
}
.v3157_10043 {
  width: 11px;
  height: 13px;
  background: url("../images/v3157_10043.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 2px;
  overflow: hidden;
}
.v3157_10044 {
  width: 1px;
  height: 1px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 6px;
}
.v3157_10045 {
  width: 1px;
  height: 4px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 6px;
}
.v3157_10046 {
  width: 11px;
  height: 13px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v3157_10047 {
  width: 193px;
  color: rgba(99,99,112,1);
  position: absolute;
  top: 0px;
  left: 20px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v3157_10048 {
  width: 127px;
  height: 33px;
  background: rgba(197,90,17,1);
  padding: 8px 16px;
  margin: 7px;
  opacity: 1;
  position: absolute;
  top: 151px;
  left: 270px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v3157_10049 {
  width: 16px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 16px;
  overflow: hidden;
}
.v3157_10050 {
  width: 16px;
  height: 16px;
  background: url("../images/v3157_10050.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_10051 {
  width: 16px;
  height: 16px;
  background: url("../images/v3157_10051.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_10052 {
  width: 16px;
  height: 16px;
  background: rgba(255,192,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
}
.v3157_10053 {
  width: 11px;
  height: 11px;
  background: url("../images/v3157_10053.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 2px;
  overflow: hidden;
}
.v3157_10054 {
  width: 11px;
  height: 11px;
  background: rgba(255,192,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v3157_10055 {
  width: 72px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 8px;
  left: 39px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v3157_10056 {
  width: 100%;
  height: 216px;
  background: url("../images/v3157_10056.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 69px;
  left: 0px;
  overflow: hidden;
}
.v3157_10057 {
  width: 261px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 143px;
  left: 590px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v3157_10058 {
  width: 182px;
  color: rgba(119,119,130,1);
  position: absolute;
  top: 187px;
  left: 629px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v3157_10059 {
  width: 742px;
  height: 62px;
  background: url("../images/v3157_10059.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 357px;
  left: 162px;
  overflow: hidden;
}
.v3157_10060 {
  width: 180px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v3157_10061 {
  width: 742px;
  color: rgba(171,171,178,1);
  position: absolute;
  top: 38px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_10062 {
  width: 831px;
  height: 343px;
  background: url("../images/v3157_10062.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 454px;
  left: 162px;
  overflow: hidden;
}
.v3157_10063 {
  width: 261px;
  height: 343px;
  background: url("../images/v3157_10063.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_10064 {
  width: 261px;
  height: 205px;
  background: url("../images/v3157_10064.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v3157_10065 {
  width: 261px;
  height: 122px;
  background: rgba(243,244,246,0.25);
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 221px;
  left: 0px;
  overflow: hidden;
}
.v3157_10066 {
  width: 51px;
  height: 20px;
  background: url("../images/v3157_10066.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_10067 {
  width: 10px;
  height: 10px;
  background: rgba(255,192,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  border-radius: 50%;
}
.v3157_10068 {
  width: 33px;
  color: rgba(132,132,142,1);
  position: absolute;
  top: 0px;
  left: 18px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_10069 {
  width: 261px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 26px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v3157_10070 {
  width: 132px;
  height: 34px;
  background: url("../images/v3157_10070.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 14px 0px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 88px;
  left: 0px;
  overflow: hidden;
}
.v3157_10071 {
  width: 20px;
  height: 20px;
  background: url("../images/v3157_10071.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 0px;
  overflow: hidden;
}
.v3157_10072 {
  width: 15px;
  height: 16px;
  background: url("../images/v3157_10072.png");
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 2px;
  border: 1.25px solid rgba(60,60,76,1);
}
.v3157_10073 {
  width: 104px;
  color: rgba(132,132,142,1);
  position: absolute;
  top: 14px;
  left: 28px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_10074 {
  width: 261px;
  height: 343px;
  background: url("../images/v3157_10074.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 285px;
  overflow: hidden;
}
.v3157_10075 {
  width: 261px;
  height: 205px;
  background: url("../images/v3157_10075.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v3157_10076 {
  width: 261px;
  height: 122px;
  background: rgba(243,244,246,0.25);
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 221px;
  left: 0px;
  overflow: hidden;
}
.v3157_10077 {
  width: 51px;
  height: 20px;
  background: url("../images/v3157_10077.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_10078 {
  width: 10px;
  height: 10px;
  background: rgba(60,60,76,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  border-radius: 50%;
}
.v3157_10079 {
  width: 33px;
  color: rgba(132,132,142,1);
  position: absolute;
  top: 0px;
  left: 18px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_10080 {
  width: 261px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 26px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v3157_10081 {
  width: 69px;
  height: 34px;
  background: url("../images/v3157_10081.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 14px 0px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 88px;
  left: 0px;
  overflow: hidden;
}
.v3157_10082 {
  width: 20px;
  height: 20px;
  background: url("../images/v3157_10082.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 0px;
  overflow: hidden;
}
.v3157_10083 {
  width: 15px;
  height: 16px;
  background: url("../images/v3157_10083.png");
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 2px;
  border: 1.25px solid rgba(60,60,76,1);
}
.v3157_10084 {
  width: 41px;
  color: rgba(132,132,142,1);
  position: absolute;
  top: 14px;
  left: 28px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_10085 {
  width: 261px;
  height: 343px;
  background: url("../images/v3157_10085.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 570px;
  overflow: hidden;
}
.v3157_10086 {
  width: 261px;
  height: 205px;
  background: url("../images/v3157_10086.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v3157_10087 {
  width: 261px;
  height: 122px;
  background: rgba(243,244,246,0.25);
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 221px;
  left: 0px;
  overflow: hidden;
}
.v3157_10088 {
  width: 71px;
  height: 20px;
  background: url("../images/v3157_10088.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_10089 {
  width: 10px;
  height: 10px;
  background: rgba(197,90,17,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  border-radius: 50%;
}
.v3157_10090 {
  width: 53px;
  color: rgba(132,132,142,1);
  position: absolute;
  top: 0px;
  left: 18px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_10091 {
  width: 261px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 26px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v3157_10092 {
  width: 129px;
  height: 34px;
  background: url("../images/v3157_10092.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 14px 0px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 88px;
  left: 0px;
  overflow: hidden;
}
.v3157_10093 {
  width: 20px;
  height: 20px;
  background: url("../images/v3157_10093.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 0px;
  overflow: hidden;
}
.v3157_10094 {
  width: 15px;
  height: 16px;
  background: url("../images/v3157_10094.png");
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 2px;
  border: 1.25px solid rgba(60,60,76,1);
}
.v3157_10095 {
  width: 101px;
  color: rgba(132,132,142,1);
  position: absolute;
  top: 14px;
  left: 28px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
