* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v3157_6878 {
  width: 100%;
  height: 840px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_6879 {
  width: 100%;
  height: 70px;
  background: rgba(34,34,43,1);
  padding: 8px 162px;
  margin: 126px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_6880 {
  width: 141px;
  height: 54px;
  background: url("../images/v3157_6880.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 162px;
  overflow: hidden;
}
.v3157_6881 {
  width: 60px;
  height: 54px;
  background: url("../images/v3157_6881.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 30px;
  overflow: hidden;
}
.v3157_6882 {
  width: 20px;
  height: 16px;
  background: rgba(129,129,140,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 11px;
}
.v3157_6883 {
  width: 22px;
  height: 16px;
  background: rgba(255,192,0,1);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 28px;
}
.v3157_6884 {
  width: 60px;
  height: 54px;
  background: rgba(197,90,17,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v3157_6885 {
  width: 6px;
  height: 8px;
  background: rgba(204,153,0,1);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 31px;
}
.v3157_6886 {
  width: 8px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 76px;
}
.v3157_6887 {
  width: 9px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 132px;
}
.v3157_6888 {
  width: 11px;
  height: 17px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 120px;
}
.v3157_6889 {
  width: 9px;
  height: 15px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 87px;
}
.v3157_6890 {
  width: 9px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 109px;
}
.v3157_6891 {
  width: 10px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 98px;
}
.v3157_6892 {
  width: 17px;
  height: 15px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 0px;
}
.v3157_6893 {
  width: 3px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 19px;
}
.v3157_6894 {
  width: 9px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 24px;
}
.v3157_6895 {
  width: 10px;
  height: 15px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 35px;
}
.v3157_6896 {
  width: 613px;
  height: 40px;
  background: url("../images/v3157_6896.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 18px;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 665px;
  overflow: hidden;
}
.v3157_6897 {
  width: 273px;
  height: 34px;
  background: url("../images/v3157_6897.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 45px;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
  overflow: hidden;
}
.v3157_6898 {
  width: 50px;
  height: 34px;
  background: url("../images/v3157_6898.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 32px;
  overflow: hidden;
}
.v3157_6899 {
  width: 31px;
  color: rgba(197,90,17,1);
  position: absolute;
  top: 0px;
  left: 9px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_6900 {
  width: 50px;
  height: 4px;
  background: rgba(255,192,0,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 0px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  overflow: hidden;
}
.v3157_6901 {
  width: 28px;
  height: 24px;
  background: url("../images/v3157_6901.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 127px;
  overflow: hidden;
}
.v3157_6902 {
  width: 28px;
  color: rgba(177,177,183,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_6903 {
  width: 50px;
  height: 4px;
  background: rgba(255,192,0,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 0px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  overflow: hidden;
}
.v3157_6904 {
  width: 41px;
  color: rgba(177,177,183,1);
  position: absolute;
  top: 5px;
  left: 200px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_6905 {
  width: 159px;
  height: 40px;
  background: rgba(60,60,76,1);
  padding: 8px 18px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 291px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v3157_6906 {
  width: 123px;
  color: rgba(250,243,229,1);
  position: absolute;
  top: 10px;
  left: 18px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_6907 {
  width: 145px;
  height: 40px;
  background: rgba(250,243,229,1);
  padding: 8px 18px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 468px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v3157_6908 {
  width: 109px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 10px;
  left: 18px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_6909 {
  width: 623px;
  height: 722px;
  background: url("../images/v3157_6909.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 94px;
  left: 24px;
  overflow: hidden;
}
.v3157_6910 {
  width: 4px;
  height: 96px;
  background: rgba(197,90,17,1);
  opacity: 1;
  position: absolute;
  top: 255px;
  left: 78px;
  transform: rotate(-90deg);
  overflow: hidden;
}
.v3157_6911 {
  width: 350px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 164px;
  left: 78px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v3157_6912 {
  width: 448px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 308px;
  left: 78px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_6913 {
  width: 176px;
  height: 157px;
  background: url("../images/v3157_6913.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 621px;
  left: 61px;
  overflow: hidden;
}
.v3157_6914 {
  width: 59px;
  height: 48px;
  background: rgba(129,129,140,1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 34px;
}
.v3157_6915 {
  width: 66px;
  height: 48px;
  background: rgba(255,192,0,1);
  opacity: 1;
  position: absolute;
  top: 75px;
  left: 81px;
}
.v3157_6916 {
  width: 176px;
  height: 157px;
  background: rgba(197,90,17,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v3157_6917 {
  width: 17px;
  height: 23px;
  background: rgba(204,153,0,1);
  opacity: 1;
  position: absolute;
  top: 75px;
  left: 91px;
}
.v3157_6918 {
  width: 12px;
  height: 770px;
  background: rgba(235,235,237,1);
  padding: 61px 2px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 70px;
  left: 1428px;
  overflow: hidden;
}
.v3157_6919 {
  width: 8px;
  height: 234px;
  background: rgba(177,177,183,1);
  opacity: 1;
  position: absolute;
  top: 61px;
  left: 2px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v3157_6920 {
  width: 135px;
  height: 80px;
  background: rgba(249,239,231,1);
  opacity: 1;
  position: absolute;
  top: 223px;
  left: 926px;
  border-top-left-radius: 71px;
  border-top-right-radius: 71px;
  border-bottom-left-radius: 71px;
  border-bottom-right-radius: 71px;
  overflow: hidden;
}
.v3157_6921 {
  width: 412px;
  height: 50px;
  background: rgba(249,239,231,1);
  opacity: 1;
  position: absolute;
  top: 537px;
  left: 788px;
}
.v3157_6922 {
  width: 120px;
  color: rgba(207,120,60,1);
  position: absolute;
  top: 548px;
  left: 933px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v3157_6923 {
  width: 299px;
  height: 24px;
  background: url("../images/v3157_6923.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 598px;
  left: 844px;
  overflow: hidden;
}
.v3157_6924 {
  width: 186px;
  color: rgba(132,132,142,1);
  position: absolute;
  top: 3px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v3157_6925 {
  width: 105px;
  color: rgba(197,90,17,1);
  position: absolute;
  top: 0px;
  left: 194px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v3157_6926 {
  width: 108px;
  height: 108px;
  background: url("../images/v3157_6926.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 177px;
  left: 940px;
  overflow: hidden;
}
.v3157_6927 {
  width: 304px;
  height: 28px;
  background: url("../images/v3157_6927.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 459px;
  left: 842px;
  overflow: hidden;
}
.v3157_6928 {
  width: 274px;
  color: rgba(197,90,17,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v3157_6929 {
  width: 20px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 284px;
  overflow: hidden;
}
.v3157_6930 {
  width: 16px;
  height: 16px;
  background: url("../images/v3157_6930.png");
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  border: 1.25px solid rgba(197,197,201,1);
}
.v3157_6931 {
  width: 5px;
  height: 5px;
  background: url("../images/v3157_6931.png");
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 10px;
  border: 1.25px solid rgba(197,197,201,1);
}
.v3157_6932 {
  width: 6px;
  background: url("../images/v3157_6932.png");
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 11px;
  border: 1.25px solid rgba(197,197,201,1);
}
.v3157_6933 {
  width: 477px;
  color: rgba(132,132,142,1);
  position: absolute;
  top: 369px;
  left: 755px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v3157_6934 {
  width: 266px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 319px;
  left: 861px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
