* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v3533_5725 {
  width: 100%;
  height: 840px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3533_5726 {
  width: 100%;
  height: 770px;
  background: rgba(27,27,34,1);
  opacity: 1;
  position: absolute;
  top: 70px;
  left: 0px;
  overflow: hidden;
}
.v3533_5727 {
  width: 100%;
  height: 770px;
  background: url("../images/v3533_5727.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 70px;
  left: 0px;
  overflow: hidden;
}
.v3533_5728 {
  width: 100%;
  height: 70px;
  background: rgba(34,34,43,1);
  padding: 8px 162px;
  margin: 126px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3533_5729 {
  width: 141px;
  height: 54px;
  background: url("../images/v3533_5729.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 162px;
  overflow: hidden;
}
.v3533_5730 {
  width: 60px;
  height: 54px;
  background: url("../images/v3533_5730.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 30px;
  overflow: hidden;
}
.v3533_5731 {
  width: 20px;
  height: 16px;
  background: rgba(129,129,140,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 11px;
}
.v3533_5732 {
  width: 22px;
  height: 16px;
  background: rgba(255,192,0,1);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 28px;
}
.v3533_5733 {
  width: 60px;
  height: 54px;
  background: rgba(197,90,17,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v3533_5734 {
  width: 6px;
  height: 8px;
  background: rgba(204,153,0,1);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 31px;
}
.v3533_5735 {
  width: 8px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 76px;
}
.v3533_5736 {
  width: 9px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 132px;
}
.v3533_5737 {
  width: 11px;
  height: 17px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 120px;
}
.v3533_5738 {
  width: 9px;
  height: 15px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 87px;
}
.v3533_5739 {
  width: 9px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 109px;
}
.v3533_5740 {
  width: 10px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 98px;
}
.v3533_5741 {
  width: 17px;
  height: 15px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 0px;
}
.v3533_5742 {
  width: 3px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 19px;
}
.v3533_5743 {
  width: 9px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 24px;
}
.v3533_5744 {
  width: 10px;
  height: 15px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 35px;
}
.v3533_5745 {
  width: 613px;
  height: 40px;
  background: url("../images/v3533_5745.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 18px;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 665px;
  overflow: hidden;
}
.v3533_5746 {
  width: 273px;
  height: 34px;
  background: url("../images/v3533_5746.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 45px;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
  overflow: hidden;
}
.v3533_5747 {
  width: 50px;
  height: 34px;
  background: url("../images/v3533_5747.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 32px;
  overflow: hidden;
}
.v3533_5748 {
  width: 31px;
  color: rgba(197,90,17,1);
  position: absolute;
  top: 0px;
  left: 9px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3533_5749 {
  width: 50px;
  height: 4px;
  background: rgba(255,192,0,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 0px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  overflow: hidden;
}
.v3533_5750 {
  width: 28px;
  height: 24px;
  background: url("../images/v3533_5750.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 127px;
  overflow: hidden;
}
.v3533_5751 {
  width: 28px;
  color: rgba(177,177,183,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3533_5752 {
  width: 50px;
  height: 4px;
  background: rgba(255,192,0,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 0px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  overflow: hidden;
}
.v3533_5753 {
  width: 41px;
  color: rgba(177,177,183,1);
  position: absolute;
  top: 5px;
  left: 200px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3533_5754 {
  width: 159px;
  height: 40px;
  background: rgba(60,60,76,1);
  padding: 8px 18px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 291px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v3533_5755 {
  width: 123px;
  color: rgba(250,243,229,1);
  position: absolute;
  top: 10px;
  left: 18px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3533_5756 {
  width: 145px;
  height: 40px;
  background: rgba(250,243,229,1);
  padding: 8px 18px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 468px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v3533_5757 {
  width: 109px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 10px;
  left: 18px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3533_5759 {
  width: 810px;
  height: 72px;
  background: rgba(255,255,255,1);
  padding: 12px 12px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 736px;
  left: 315px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.03999999910593033);
  overflow: hidden;
}
.v3533_5760 {
  width: 620px;
  height: 48px;
  background: url("../images/v3533_5760.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 12px;
  overflow: hidden;
}
.v3533_5761 {
  width: 311px;
  color: rgba(171,171,178,1);
  position: absolute;
  top: 12px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3533_5762 {
  width: 5px;
  height: 16px;
  background: url("../images/v3533_5762.png");
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 29px;
  border: 1.5px solid rgba(72,72,74,1);
}
.v3533_5763 {
  width: 133px;
  height: 48px;
  background: rgba(60,60,76,1);
  padding: 12px 38px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 665px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v3533_5764 {
  width: 57px;
  color: rgba(249,239,231,1);
  position: absolute;
  top: 12px;
  left: 38px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3533_5765 {
  width: 45px;
  height: 168px;
  background: url("../images/v3533_5765.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 93px;
  left: 20px;
  overflow: hidden;
}
.v3533_5766 {
  width: 104px;
  height: 34px;
  background: url("../images/v3533_5766.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: -2px;
  opacity: 1;
  position: absolute;
  top: 240px;
  left: 613px;
  overflow: hidden;
}
.v3533_5767 {
  width: 104px;
  height: 28px;
  background: rgba(255,59,48,1);
  padding: 4px 4px;
  margin: 2px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v3533_5768 {
  width: 23px;
  height: 20px;
  background: url("../images/v3533_5768.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 4px;
  overflow: hidden;
}
.v3533_5769 {
  width: 7px;
  height: 6px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 4px;
}
.v3533_5770 {
  width: 8px;
  height: 6px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 10px;
}
.v3533_5771 {
  width: 23px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v3533_5772 {
  width: 2px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 11px;
}
.v3533_5773 {
  width: 71px;
  color: rgba(250,243,229,1);
  position: absolute;
  top: 4px;
  left: 29px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3533_5774 {
  width: 104px;
  height: 8px;
  background: url("../images/v3533_5774.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v3533_5786 {
  width: 104px;
  height: 34px;
  background: url("../images/v3533_5786.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: -2px;
  opacity: 1;
  position: absolute;
  top: 334px;
  left: 529px;
  overflow: hidden;
}
.v3533_5787 {
  width: 104px;
  height: 28px;
  background: rgba(255,59,48,1);
  padding: 4px 4px;
  margin: 2px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v3533_5788 {
  width: 23px;
  height: 20px;
  background: url("../images/v3533_5788.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 4px;
  overflow: hidden;
}
.v3533_5789 {
  width: 7px;
  height: 6px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 4px;
}
.v3533_5790 {
  width: 8px;
  height: 6px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 10px;
}
.v3533_5791 {
  width: 23px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v3533_5792 {
  width: 2px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 11px;
}
.v3533_5793 {
  width: 71px;
  color: rgba(250,243,229,1);
  position: absolute;
  top: 4px;
  left: 29px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3533_5794 {
  width: 104px;
  height: 8px;
  background: url("../images/v3533_5794.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v3533_5796 {
  width: 104px;
  height: 34px;
  background: url("../images/v3533_5796.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: -2px;
  opacity: 1;
  position: absolute;
  top: 560px;
  left: 535px;
  overflow: hidden;
}
.v3533_5797 {
  width: 104px;
  height: 28px;
  background: rgba(255,59,48,1);
  padding: 4px 4px;
  margin: 2px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v3533_5798 {
  width: 23px;
  height: 20px;
  background: url("../images/v3533_5798.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 4px;
  overflow: hidden;
}
.v3533_5799 {
  width: 7px;
  height: 6px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 4px;
}
.v3533_5800 {
  width: 8px;
  height: 6px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 10px;
}
.v3533_5801 {
  width: 23px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v3533_5802 {
  width: 2px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 11px;
}
.v3533_5803 {
  width: 71px;
  color: rgba(250,243,229,1);
  position: absolute;
  top: 4px;
  left: 29px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3533_5804 {
  width: 104px;
  height: 8px;
  background: url("../images/v3533_5804.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v3533_5806 {
  width: 104px;
  height: 34px;
  background: url("../images/v3533_5806.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: -2px;
  opacity: 1;
  position: absolute;
  top: 463px;
  left: 506px;
  overflow: hidden;
}
.v3533_5807 {
  width: 104px;
  height: 28px;
  background: rgba(226,182,9,1);
  padding: 4px 4px;
  margin: 2px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v3533_5808 {
  width: 23px;
  height: 20px;
  background: url("../images/v3533_5808.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 4px;
  overflow: hidden;
}
.v3533_5809 {
  width: 7px;
  height: 6px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 4px;
}
.v3533_5810 {
  width: 8px;
  height: 6px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 10px;
}
.v3533_5811 {
  width: 23px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v3533_5812 {
  width: 2px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 11px;
}
.v3533_5813 {
  width: 71px;
  color: rgba(250,243,229,1);
  position: absolute;
  top: 4px;
  left: 29px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3533_5814 {
  width: 104px;
  height: 8px;
  background: url("../images/v3533_5814.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v3533_5816 {
  width: 104px;
  height: 34px;
  background: url("../images/v3533_5816.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: -2px;
  opacity: 1;
  position: absolute;
  top: 437px;
  left: 597px;
  overflow: hidden;
}
.v3533_5817 {
  width: 104px;
  height: 28px;
  background: rgba(226,182,9,1);
  padding: 4px 4px;
  margin: 2px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v3533_5818 {
  width: 23px;
  height: 20px;
  background: url("../images/v3533_5818.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 4px;
  overflow: hidden;
}
.v3533_5819 {
  width: 7px;
  height: 6px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 4px;
}
.v3533_5820 {
  width: 8px;
  height: 6px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 10px;
}
.v3533_5821 {
  width: 23px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v3533_5822 {
  width: 2px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 11px;
}
.v3533_5823 {
  width: 71px;
  color: rgba(250,243,229,1);
  position: absolute;
  top: 4px;
  left: 29px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3533_5824 {
  width: 104px;
  height: 8px;
  background: url("../images/v3533_5824.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v3533_5826 {
  width: 104px;
  height: 34px;
  background: url("../images/v3533_5826.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: -2px;
  opacity: 1;
  position: absolute;
  top: 386px;
  left: 471px;
  overflow: hidden;
}
.v3533_5827 {
  width: 104px;
  height: 28px;
  background: rgba(226,182,9,1);
  padding: 4px 4px;
  margin: 2px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v3533_5828 {
  width: 23px;
  height: 20px;
  background: url("../images/v3533_5828.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 4px;
  overflow: hidden;
}
.v3533_5829 {
  width: 7px;
  height: 6px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 4px;
}
.v3533_5830 {
  width: 8px;
  height: 6px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 10px;
}
.v3533_5831 {
  width: 23px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v3533_5832 {
  width: 2px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 11px;
}
.v3533_5833 {
  width: 71px;
  color: rgba(250,243,229,1);
  position: absolute;
  top: 4px;
  left: 29px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3533_5834 {
  width: 104px;
  height: 8px;
  background: url("../images/v3533_5834.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v3157_6975 {
  width: 427px;
  height: 136px;
  background: url("../images/v3157_6975.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: -4px;
  opacity: 1;
  position: absolute;
  top: 274px;
  left: 601px;
  overflow: hidden;
}
.v3157_6976 {
  width: 427px;
  height: 126px;
  background: rgba(250,243,229,1);
  padding: 8px 8px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v3157_6977 {
  width: 140px;
  height: 110px;
  background: url("../images/v3157_6977.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v3157_6978 {
  width: 261px;
  height: 104px;
  background: url("../images/v3157_6978.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 158px;
  overflow: hidden;
}
.v3157_6979 {
  width: 261px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v3157_6980 {
  width: 261px;
  color: rgba(171,171,178,1);
  position: absolute;
  top: 42px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v3157_6981 {
  width: 261px;
  height: 20px;
  background: url("../images/v3157_6981.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 84px;
  left: 0px;
  overflow: hidden;
}
.v3157_6982 {
  width: 154px;
  height: 20px;
  background: url("../images/v3157_6982.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_6983 {
  width: 47px;
  height: 18px;
  background: url("../images/v3157_6983.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v3157_6984 {
  width: 10px;
  height: 10px;
  background: rgba(255,192,0,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  border-radius: 50%;
}
.v3157_6985 {
  width: 29px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 0px;
  left: 18px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v3157_6987 {
  width: 59px;
  height: 20px;
  background: url("../images/v3157_6987.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 95px;
  overflow: hidden;
}
.v3157_6988 {
  width: 20px;
  height: 20px;
  background: url("../images/v3157_6988.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_6989 {
  width: 15px;
  height: 16px;
  background: url("../images/v3157_6989.png");
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 2px;
  border: 1.25px solid rgba(60,60,76,1);
}
.v3157_6990 {
  width: 31px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 1px;
  left: 28px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v3157_6991 {
  width: 197px;
  height: 14px;
  background: url("../images/v3157_6991.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 18px;
  opacity: 1;
  position: absolute;
  top: 122px;
  left: 115px;
  overflow: hidden;
}
.name {
  color: #fff;
}
