* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v3157_2773 {
  width: 393px;
  height: 852px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_2774 {
  width: 393px;
  height: 667px;
  background: rgba(27,27,34,1);
  opacity: 1;
  position: absolute;
  top: 109px;
  left: 0px;
  overflow: hidden;
}
.v3157_2775 {
  width: 393px;
  height: 667px;
  background: url("../images/v3157_2775.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 109px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v3157_2777 {
  width: 361px;
  height: 44px;
  background: url("../images/v3157_2777.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 16px;
  overflow: hidden;
}
.v3157_2778 {
  width: 48px;
  height: 42px;
  background: url("../images/v3157_2778.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v3157_2779 {
  width: 16px;
  height: 12px;
  background: rgba(129,129,140,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 9px;
}
.v3157_2780 {
  width: 18px;
  height: 12px;
  background: rgba(255,192,0,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 22px;
}
.v3157_2781 {
  width: 48px;
  height: 42px;
  background: rgba(197,90,17,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v3157_2782 {
  width: 4px;
  height: 6px;
  background: rgba(204,153,0,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 24px;
}
.v3157_2783 {
  width: 181px;
  color: rgba(46,49,56,1);
  position: absolute;
  top: 12px;
  left: 60px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3157_2784 {
  width: 48px;
  height: 44px;
  background: rgba(245,245,246,1);
  padding: 8px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 253px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v3157_2785 {
  width: 28px;
  height: 28px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 10px;
  overflow: hidden;
}
.v3157_2786 {
  width: 28px;
  height: 28px;
  background: url("../images/v3157_2786.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v3157_2787 {
  width: 21px;
  height: 19px;
  background: rgba(197,90,17,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 3px;
}
.v3157_2788 {
  width: 9px;
  height: 7px;
  background: url("../images/v3157_2788.png");
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 9px;
  border: 1.7500001192092896px solid rgba(255,255,255,1);
}
.v3157_2789 {
  width: 48px;
  height: 44px;
  background: rgba(245,245,246,1);
  padding: 10px 12px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 313px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v3157_2790 {
  width: 24px;
  height: 24px;
  background: url("../images/v3157_2790.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 12px;
  overflow: hidden;
}
.v3157_2791 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_2792 {
  width: 14px;
  height: 19px;
  background: url("../images/v3157_2792.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 4px;
  overflow: hidden;
}
.v3157_2793 {
  width: 14px;
  height: 15px;
  background: url("../images/v3157_2793.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1.5px solid rgba(60,60,76,1);
}
.v3157_2794 {
  width: 4px;
  height: 1px;
  background: url("../images/v3157_2794.png");
  opacity: 0.4000000059604645;
  position: absolute;
  top: 17px;
  left: 5px;
  border: 1.5px solid rgba(60,60,76,1);
}
.v3157_2795 {
  width: 6px;
  height: 6px;
  background: rgba(247,85,85,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 16px;
  border-radius: 50%;
}
.v3157_2796 {
  width: 360px;
  height: 60px;
  background: rgba(255,255,255,1);
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 698px;
  left: 17px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.03999999910593033);
  overflow: hidden;
}
.v3157_2797 {
  width: 271px;
  color: rgba(171,171,178,1);
  position: absolute;
  top: 20px;
  left: 10px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_2798 {
  width: 40px;
  height: 40px;
  background: rgba(197,90,17,1);
  padding: 8px 8px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 310px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v3157_2799 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.v3157_2800 {
  width: 18px;
  height: 18px;
  background: url("../images/v3157_2800.png");
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 2px;
  border: 1.5px solid rgba(250,243,229,1);
}
.v3157_2801 {
  width: 3px;
  height: 3px;
  background: url("../images/v3157_2801.png");
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 11px;
  border: 1.5px solid rgba(250,243,229,1);
}
.name {
  color: #fff;
}
.v3551_7864 {
  width: 124px;
  height: 34px;
  background: url("../images/v3551_7864.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: -2px;
  opacity: 1;
  position: absolute;
  top: 426px;
  left: 10px;
  overflow: hidden;
}
.v3551_7865 {
  width: 124px;
  height: 28px;
  background: rgba(226,182,9,1);
  padding: 4px 4px;
  margin: 2px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v3551_7866 {
  width: 23px;
  height: 20px;
  background: url("../images/v3551_7866.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 4px;
  overflow: hidden;
}
.v3551_7867 {
  width: 7px;
  height: 6px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 4px;
}
.v3551_7868 {
  width: 8px;
  height: 6px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 10px;
}
.v3551_7869 {
  width: 23px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v3551_7870 {
  width: 2px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 11px;
}
.v3551_7871 {
  width: 91px;
  color: rgba(250,243,229,1);
  position: absolute;
  top: 4px;
  left: 29px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3551_7872 {
  width: 124px;
  height: 8px;
  background: url("../images/v3551_7872.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v3551_7854 {
  width: 104px;
  height: 34px;
  background: url("../images/v3551_7854.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: -2px;
  opacity: 1;
  position: absolute;
  top: 276px;
  left: 265px;
  overflow: hidden;
}
.v3551_7855 {
  width: 104px;
  height: 28px;
  background: rgba(255,59,48,1);
  padding: 4px 4px;
  margin: 2px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v3551_7856 {
  width: 23px;
  height: 20px;
  background: url("../images/v3551_7856.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 4px;
  overflow: hidden;
}
.v3551_7857 {
  width: 7px;
  height: 6px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 4px;
}
.v3551_7858 {
  width: 8px;
  height: 6px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 10px;
}
.v3551_7859 {
  width: 23px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v3551_7860 {
  width: 2px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 11px;
}
.v3551_7861 {
  width: 71px;
  color: rgba(250,243,229,1);
  position: absolute;
  top: 4px;
  left: 29px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3551_7862 {
  width: 104px;
  height: 8px;
  background: url("../images/v3551_7862.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v3551_7874 {
  width: 124px;
  height: 34px;
  background: url("../images/v3551_7874.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: -2px;
  opacity: 1;
  position: absolute;
  top: 347px;
  left: 22px;
  overflow: hidden;
}
.v3551_7875 {
  width: 124px;
  height: 28px;
  background: rgba(226,182,9,1);
  padding: 4px 4px;
  margin: 2px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v3551_7876 {
  width: 23px;
  height: 20px;
  background: url("../images/v3551_7876.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 4px;
  overflow: hidden;
}
.v3551_7877 {
  width: 7px;
  height: 6px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 4px;
}
.v3551_7878 {
  width: 8px;
  height: 6px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 10px;
}
.v3551_7879 {
  width: 23px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v3551_7880 {
  width: 2px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 11px;
}
.v3551_7881 {
  width: 91px;
  color: rgba(250,243,229,1);
  position: absolute;
  top: 4px;
  left: 29px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3551_7882 {
  width: 124px;
  height: 8px;
  background: url("../images/v3551_7882.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v3551_7844 {
  width: 104px;
  height: 34px;
  background: url("../images/v3551_7844.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: -2px;
  opacity: 1;
  position: absolute;
  top: 252px;
  left: 146px;
  overflow: hidden;
}
.v3551_7845 {
  width: 104px;
  height: 28px;
  background: rgba(255,59,48,1);
  padding: 4px 4px;
  margin: 2px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v3551_7846 {
  width: 23px;
  height: 20px;
  background: url("../images/v3551_7846.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 4px;
  overflow: hidden;
}
.v3551_7847 {
  width: 7px;
  height: 6px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 4px;
}
.v3551_7848 {
  width: 8px;
  height: 6px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 10px;
}
.v3551_7849 {
  width: 23px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v3551_7850 {
  width: 2px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 11px;
}
.v3551_7851 {
  width: 71px;
  color: rgba(250,243,229,1);
  position: absolute;
  top: 4px;
  left: 29px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3551_7852 {
  width: 104px;
  height: 8px;
  background: url("../images/v3551_7852.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v3551_7834 {
  width: 104px;
  height: 34px;
  background: url("../images/v3551_7834.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: -2px;
  opacity: 1;
  position: absolute;
  top: 263px;
  left: 36px;
  overflow: hidden;
}
.v3551_7835 {
  width: 104px;
  height: 28px;
  background: rgba(255,59,48,1);
  padding: 4px 4px;
  margin: 2px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v3551_7836 {
  width: 23px;
  height: 20px;
  background: url("../images/v3551_7836.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 4px;
  overflow: hidden;
}
.v3551_7837 {
  width: 7px;
  height: 6px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 4px;
}
.v3551_7838 {
  width: 8px;
  height: 6px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 10px;
}
.v3551_7839 {
  width: 23px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v3551_7840 {
  width: 2px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 11px;
}
.v3551_7841 {
  width: 71px;
  color: rgba(250,243,229,1);
  position: absolute;
  top: 4px;
  left: 29px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3551_7842 {
  width: 104px;
  height: 8px;
  background: url("../images/v3551_7842.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v3551_7884 {
  width: 124px;
  height: 34px;
  background: url("../images/v3551_7884.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: -2px;
  opacity: 1;
  position: absolute;
  top: 382px;
  left: 200px;
  overflow: hidden;
}
.v3551_7885 {
  width: 124px;
  height: 28px;
  background: rgba(226,182,9,1);
  padding: 4px 4px;
  margin: 2px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v3551_7886 {
  width: 23px;
  height: 20px;
  background: url("../images/v3551_7886.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 4px;
  overflow: hidden;
}
.v3551_7887 {
  width: 7px;
  height: 6px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 4px;
}
.v3551_7888 {
  width: 8px;
  height: 6px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 10px;
}
.v3551_7889 {
  width: 23px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v3551_7890 {
  width: 2px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 11px;
}
.v3551_7891 {
  width: 91px;
  color: rgba(250,243,229,1);
  position: absolute;
  top: 4px;
  left: 29px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3551_7892 {
  width: 124px;
  height: 8px;
  background: url("../images/v3551_7892.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
