* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v3157_5700 {
  width: 393px;
  height: 1287px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_5701 {
  width: 393px;
  height: 100%;
  background: rgba(245,245,246,1);
  opacity: 1;
  position: absolute;
  top: 110px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v3157_5703 {
  width: 361px;
  height: 44px;
  background: url("../images/v3157_5703.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 16px;
  overflow: hidden;
}
.v3157_5704 {
  width: 48px;
  height: 44px;
  background: rgba(245,245,246,1);
  padding: 10px 12px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v3157_5705 {
  width: 24px;
  height: 24px;
  background: url("../images/v3157_5705.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 12px;
  overflow: hidden;
}
.v3157_5706 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 24px;
  overflow: hidden;
}
.v3157_5707 {
  width: 14px;
  background: url("../images/v3157_5707.png");
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 5px;
  border: 1.9999998807907104px solid rgba(60,60,76,1);
}
.v3157_5708 {
  width: 6px;
  height: 6px;
  background: url("../images/v3157_5708.png");
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 13px;
  border: 1.9999998807907104px solid rgba(60,60,76,1);
}
.v3157_5709 {
  width: 6px;
  height: 6px;
  background: url("../images/v3157_5709.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 13px;
  border: 1.9999998807907104px solid rgba(60,60,76,1);
}
.v3157_5710 {
  width: 245px;
  color: rgba(46,49,56,1);
  position: absolute;
  top: 12px;
  left: 60px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3157_5711 {
  width: 44px;
  height: 44px;
  background: url("../images/v3157_5711.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 317px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v3157_5712 {
  width: 28px;
  height: 28px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.v3157_5713 {
  width: 22px;
  height: 22px;
  background: url("../images/v3157_5713.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
  border: 1.75px solid rgba(60,60,76,1);
}
.v3157_5714 {
  width: 4px;
  height: 7px;
  background: url("../images/v3157_5714.png");
  opacity: 0.4000000059604645;
  position: absolute;
  top: 8px;
  left: 11px;
  border: 1.75px solid rgba(60,60,76,1);
}
.v3157_5715 {
  width: 0px;
  background: url("../images/v3157_5715.png");
  opacity: 0.4000000059604645;
  position: absolute;
  top: 19px;
  left: 13px;
  border: 2.3333332538604736px solid rgba(60,60,76,1);
}
.v3157_5716 {
  width: 361px;
  height: 822px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 330px;
  left: 16px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  overflow: hidden;
}
.v3157_5717 {
  width: 321px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 105px;
  left: 20px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3157_5718 {
  width: 54px;
  height: 53px;
  background: rgba(249,239,231,1);
  padding: 5px 4px;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 291px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  overflow: hidden;
}
.v3157_5719 {
  width: 46px;
  height: 43px;
  background: url("../images/v3157_5719.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 4px;
  overflow: hidden;
}
.v3157_5720 {
  width: 15px;
  height: 13px;
  background: rgba(129,129,140,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 8px;
}
.v3157_5721 {
  width: 17px;
  height: 13px;
  background: rgba(255,192,0,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 21px;
}
.v3157_5722 {
  width: 46px;
  height: 43px;
  background: rgba(197,90,17,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v3157_5723 {
  width: 4px;
  height: 6px;
  background: rgba(204,153,0,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 23px;
}
.v3157_5724 {
  width: 212px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 25px;
  left: 74px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v3157_5725 {
  width: 44px;
  height: 44px;
  background: rgba(245,245,246,1);
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v3157_5726 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 10px;
  overflow: hidden;
}
.v3157_5727 {
  width: 15px;
  height: 0px;
  background: url("../images/v3157_5727.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 5px;
  border: 1.5px solid rgba(91,91,127,1);
}
.v3157_5728 {
  width: 4px;
  height: 10px;
  background: url("../images/v3157_5728.png");
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 4px;
  border: 1.5px solid rgba(91,91,127,1);
}
.v3157_5729 {
  width: 329px;
  height: 52px;
  background: rgba(60,60,76,1);
  padding: 12px 28px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 754px;
  left: 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v3157_5730 {
  width: 40px;
  color: rgba(250,243,229,1);
  position: absolute;
  top: 12px;
  left: 144px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v3157_5732 {
  width: 132px;
  height: 52px;
  background: rgba(249,239,231,1);
  padding: 14px 24px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 225px;
  left: 16px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v3157_5733 {
  width: 29px;
  color: rgba(197,90,17,1);
  position: absolute;
  top: 14px;
  left: 51px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_5734 {
  width: 132px;
  height: 52px;
  background: url("../images/v3157_5734.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 14px 24px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 225px;
  left: 160px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v3157_5735 {
  width: 22px;
  color: rgba(14,14,44,1);
  position: absolute;
  top: 14px;
  left: 55px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_5736 {
  width: 329px;
  height: 226px;
  background: url("../images/v3157_5736.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 7px;
  opacity: 1;
  position: absolute;
  top: 299px;
  left: 16px;
  overflow: hidden;
}
.v3157_5737 {
  width: 329px;
  color: rgba(171,171,178,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_5738 {
  width: 329px;
  height: 195px;
  background: rgba(255,255,255,1);
  padding: 28px 0px;
  margin: 18px;
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v3157_5739 {
  width: 40px;
  height: 50px;
  background: url("../images/v3157_5739.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 51px;
  left: 144px;
  overflow: hidden;
}
.v3157_5740 {
  width: 40px;
  height: 50px;
  background: url("../images/v3157_5740.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_5741 {
  width: 39px;
  height: 49px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v3157_5742 {
  width: 40px;
  height: 50px;
  background: rgba(231,186,155,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v3157_5743 {
  width: 9px;
  height: 9px;
  background: url("../images/v3157_5743.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 30px;
  border: 0.9298798441886902px solid rgba(231,186,155,1);
}
.v3157_5744 {
  width: 19px;
  height: 18px;
  background: url("../images/v3157_5744.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 10px;
  overflow: hidden;
}
.v3157_5745 {
  width: 19px;
  height: 4px;
  background: url("../images/v3157_5745.png");
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 0px;
  border: 0.9298798441886902px solid rgba(231,186,155,1);
}
.v3157_5746 {
  width: 12px;
  height: 6px;
  background: url("../images/v3157_5746.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 3px;
  border: 0.9298798441886902px solid rgba(231,186,155,1);
}
.v3157_5747 {
  height: 14px;
  background: url("../images/v3157_5747.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 9px;
  border: 0.9298798441886902px solid rgba(231,186,155,1);
}
.v3157_5748 {
  width: 182px;
  color: rgba(14,14,44,1);
  position: absolute;
  top: 119px;
  left: 73px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_5749 {
  width: 329px;
  height: 134px;
  background: rgba(249,249,249,1);
  padding: 14px 14px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 555px;
  left: 16px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v3157_5750 {
  width: 295px;
  color: rgba(177,177,183,1);
  position: absolute;
  top: 14px;
  left: 14px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: justified;
}
.v3157_5751 {
  width: 169px;
  color: rgba(171,171,178,1);
  position: absolute;
  top: 719px;
  left: 20px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v3157_5752 {
  width: 36px;
  color: rgba(174,174,178,1);
  position: absolute;
  top: 694px;
  left: 306px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v3157_5753 {
  width: 361px;
  height: 104px;
  background: url("../images/v3157_5753.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 194px;
  left: 16px;
  overflow: hidden;
}
.v3157_5754 {
  width: 361px;
  color: rgba(166,166,166,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_5755 {
  width: 361px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 28px;
  left: 0px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v3157_5756 {
  width: 361px;
  height: 20px;
  background: url("../images/v3157_5756.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: -1px;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 0px;
  overflow: hidden;
}
.v3157_5757 {
  width: 145px;
  color: rgba(174,174,178,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v3157_5758 {
  width: 13px;
  height: 11px;
  background: url("../images/v3157_5758.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 144px;
  overflow: hidden;
}
.v3157_5759 {
  width: 9px;
  color: rgba(255,59,48,1);
  position: absolute;
  top: 5px;
  left: 3px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_5760 {
  width: 361px;
  height: 6px;
  background: url("../images/v3157_5760.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 88px;
  left: 0px;
  overflow: hidden;
}
.v3157_5761 {
  width: 360px;
  height: 6px;
  background: url("../images/v3157_5761.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 98px;
  left: 0px;
  overflow: hidden;
}
.v3157_5762 {
  width: 53px;
  height: 6px;
  background: rgba(197,90,17,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 37px;
  border-top-right-radius: 37px;
  border-bottom-left-radius: 37px;
  border-bottom-right-radius: 37px;
  overflow: hidden;
}
.v3157_5763 {
  width: 53px;
  height: 6px;
  background: rgba(235,235,237,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 61px;
  border-top-left-radius: 37px;
  border-top-right-radius: 37px;
  border-bottom-left-radius: 37px;
  border-bottom-right-radius: 37px;
  overflow: hidden;
}
.v3157_5764 {
  width: 53px;
  height: 6px;
  background: rgba(235,235,237,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 122px;
  border-top-left-radius: 37px;
  border-top-right-radius: 37px;
  border-bottom-left-radius: 37px;
  border-bottom-right-radius: 37px;
  overflow: hidden;
}
.v3157_5765 {
  width: 53px;
  height: 6px;
  background: rgba(235,235,237,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 184px;
  border-top-left-radius: 37px;
  border-top-right-radius: 37px;
  border-bottom-left-radius: 37px;
  border-bottom-right-radius: 37px;
  overflow: hidden;
}
.v3157_5766 {
  width: 53px;
  height: 6px;
  background: rgba(235,235,237,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 245px;
  border-top-left-radius: 37px;
  border-top-right-radius: 37px;
  border-bottom-left-radius: 37px;
  border-bottom-right-radius: 37px;
  overflow: hidden;
}
.v3157_5767 {
  width: 53px;
  height: 6px;
  background: rgba(235,235,237,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 306px;
  border-top-left-radius: 37px;
  border-top-right-radius: 37px;
  border-bottom-left-radius: 37px;
  border-bottom-right-radius: 37px;
  overflow: hidden;
}
.v3157_5768 {
  width: 100%;
  height: 60px;
  background: url("../images/v3157_5768.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: -22px;
  opacity: 1;
  position: absolute;
  top: 110px;
  left: 449px;
  overflow: hidden;
}
.v3157_5769 {
  width: 100%;
  height: 60px;
  background: url("../images/v3157_5769.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 18px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_5770 {
  width: 245px;
  height: 60px;
  background: url("../images/v3157_5770.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 18px 0px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_5771 {
  width: 169px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 18px;
  left: 38px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_5772 {
  width: 50px;
  height: 4px;
  background: rgba(255,192,0,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 0px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  overflow: hidden;
}
.v3157_5773 {
  width: 245px;
  height: 60px;
  background: url("../images/v3157_5773.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 18px 0px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 263px;
  overflow: hidden;
}
.v3157_5774 {
  width: 181px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 18px;
  left: 32px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_5775 {
  width: 50px;
  height: 4px;
  background: rgba(255,192,0,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 0px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  overflow: hidden;
}
.v3157_5776 {
  width: 245px;
  height: 60px;
  background: rgba(249,239,231,0.5);
  padding: 18px 0px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 526px;
  overflow: hidden;
}
.v3157_5777 {
  width: 212px;
  color: rgba(197,90,17,1);
  position: absolute;
  top: 18px;
  left: 16px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_5778 {
  width: 50px;
  height: 4px;
  background: rgba(255,192,0,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 0px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  overflow: hidden;
}
.v3157_5779 {
  width: 245px;
  height: 60px;
  background: url("../images/v3157_5779.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 18px 0px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 789px;
  overflow: hidden;
}
.v3157_5780 {
  width: 164px;
  color: rgba(138,138,148,1);
  position: absolute;
  top: 18px;
  left: 40px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_5781 {
  width: 50px;
  height: 4px;
  background: rgba(255,192,0,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 0px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  overflow: hidden;
}
.v3157_5782 {
  width: 100%;
  height: 3px;
  background: url("../images/v3157_5782.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 18px;
  opacity: 1;
  position: absolute;
  top: 57px;
  left: 0px;
  overflow: hidden;
}
.v3157_5783 {
  width: 245px;
  height: 3px;
  background: rgba(235,235,237,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 37px;
  border-top-right-radius: 37px;
  border-bottom-left-radius: 37px;
  border-bottom-right-radius: 37px;
  overflow: hidden;
}
.v3157_5784 {
  width: 245px;
  height: 3px;
  background: rgba(235,235,237,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 263px;
  border-top-left-radius: 37px;
  border-top-right-radius: 37px;
  border-bottom-left-radius: 37px;
  border-bottom-right-radius: 37px;
  overflow: hidden;
}
.v3157_5785 {
  width: 245px;
  height: 3px;
  background: rgba(197,90,17,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 526px;
  border-top-left-radius: 37px;
  border-top-right-radius: 37px;
  border-bottom-left-radius: 37px;
  border-bottom-right-radius: 37px;
  overflow: hidden;
}
.v3157_5786 {
  width: 245px;
  height: 3px;
  background: rgba(235,235,237,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 789px;
  border-top-left-radius: 37px;
  border-top-right-radius: 37px;
  border-bottom-left-radius: 37px;
  border-bottom-right-radius: 37px;
  overflow: hidden;
}
