* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v3157_10329 {
  width: 100%;
  height: 1162px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_10331 {
  width: 100%;
  height: 88px;
  background: rgba(34,34,43,1);
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 8px;
  overflow: hidden;
}
.v3157_10332 {
  width: 100%;
  height: 70px;
  background: rgba(34,34,43,1);
  padding: 8px 162px;
  margin: 126px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_10333 {
  width: 141px;
  height: 54px;
  background: url("../images/v3157_10333.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 162px;
  overflow: hidden;
}
.v3157_10334 {
  width: 60px;
  height: 54px;
  background: url("../images/v3157_10334.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 30px;
  overflow: hidden;
}
.v3157_10335 {
  width: 20px;
  height: 16px;
  background: rgba(129,129,140,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 11px;
}
.v3157_10336 {
  width: 22px;
  height: 16px;
  background: rgba(255,192,0,1);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 28px;
}
.v3157_10337 {
  width: 60px;
  height: 54px;
  background: rgba(197,90,17,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v3157_10338 {
  width: 6px;
  height: 8px;
  background: rgba(204,153,0,1);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 31px;
}
.v3157_10339 {
  width: 8px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 76px;
}
.v3157_10340 {
  width: 9px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 132px;
}
.v3157_10341 {
  width: 11px;
  height: 17px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 120px;
}
.v3157_10342 {
  width: 9px;
  height: 15px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 87px;
}
.v3157_10343 {
  width: 9px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 109px;
}
.v3157_10344 {
  width: 10px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 98px;
}
.v3157_10345 {
  width: 17px;
  height: 15px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 0px;
}
.v3157_10346 {
  width: 3px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 19px;
}
.v3157_10347 {
  width: 9px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 24px;
}
.v3157_10348 {
  width: 10px;
  height: 15px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 35px;
}
.v3157_10349 {
  width: 578px;
  height: 40px;
  background: url("../images/v3157_10349.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 18px;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 700px;
  overflow: hidden;
}
.v3157_10350 {
  width: 253px;
  height: 24px;
  background: url("../images/v3157_10350.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 45px;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 0px;
  overflow: hidden;
}
.v3157_10351 {
  width: 30px;
  height: 24px;
  background: url("../images/v3157_10351.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 32px;
  overflow: hidden;
}
.v3157_10352 {
  width: 30px;
  color: rgba(177,177,183,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_10353 {
  width: 50px;
  height: 4px;
  background: rgba(255,192,0,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 0px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  overflow: hidden;
}
.v3157_10354 {
  width: 28px;
  height: 24px;
  background: url("../images/v3157_10354.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 107px;
  overflow: hidden;
}
.v3157_10355 {
  width: 28px;
  color: rgba(177,177,183,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_10356 {
  width: 50px;
  height: 4px;
  background: rgba(255,192,0,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 0px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  overflow: hidden;
}
.v3157_10357 {
  width: 41px;
  color: rgba(177,177,183,1);
  position: absolute;
  top: 0px;
  left: 180px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_10358 {
  width: 159px;
  height: 40px;
  background: rgba(60,60,76,1);
  padding: 8px 18px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 271px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v3157_10359 {
  width: 123px;
  color: rgba(250,243,229,1);
  position: absolute;
  top: 10px;
  left: 18px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_10360 {
  width: 130px;
  height: 40px;
  background: rgba(250,243,229,1);
  padding: 8px 18px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 448px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v3157_10361 {
  width: 26px;
  height: 26px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 18px;
  overflow: hidden;
}
.v3157_10362 {
  width: 26px;
  height: 26px;
  background: url("../images/v3157_10362.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 0px;
  overflow: hidden;
}
.v3157_10363 {
  width: 26px;
  height: 26px;
  background: url("../images/v3157_10363.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_10364 {
  width: 26px;
  height: 26px;
  background: url("../images/v3157_10364.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_10365 {
  width: 26px;
  height: 26px;
  background: url("../images/v3157_10365.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_10366 {
  width: 26px;
  height: 26px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v3157_10367 {
  width: 24px;
  height: 24px;
  background: url("../images/v3157_10367.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v3157_10368 {
  width: 8px;
  height: 8px;
  background: url("../images/v3157_10368.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 8px;
  overflow: hidden;
}
.v3157_10369 {
  width: 8px;
  height: 8px;
  background: url("../images/v3157_10369.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1.2000000476837158px solid rgba(60,60,76,1);
}
.v3157_10370 {
  width: 15px;
  height: 6px;
  background: url("../images/v3157_10370.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 4px;
  overflow: hidden;
}
.v3157_10371 {
  width: 15px;
  height: 6px;
  background: url("../images/v3157_10371.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1.2000000476837158px solid rgba(60,60,76,1);
}
.v3157_10372 {
  width: 1px;
  height: 1px;
  background: url("../images/v3157_10372.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 21px;
  overflow: hidden;
}
.v3157_10373 {
  width: 1px;
  height: 1px;
  background: rgba(60,60,76,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v3157_10374 {
  width: 24px;
  height: 24px;
  background: url("../images/v3157_10374.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_10375 {
  width: 24px;
  height: 24px;
  background: url("../images/v3157_10375.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1.2000000476837158px solid rgba(60,60,76,1);
}
.v3157_10376 {
  width: 36px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 10px;
  left: 54px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_10377 {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 100px;
  overflow: hidden;
}
.v3157_10378 {
  width: 7px;
  height: 4px;
  background: rgba(197,197,201,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 2px;
}
.v3157_10379 {
  width: 100%;
  height: 100%;
  background: rgba(245,245,246,1);
  opacity: 1;
  position: absolute;
  top: 130px;
  left: 0px;
  overflow: hidden;
}
.v3157_10380 {
  width: 100%;
  height: 60px;
  background: url("../images/v3157_10380.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: -22px;
  opacity: 1;
  position: absolute;
  top: 70px;
  left: 0px;
  overflow: hidden;
}
.v3157_10381 {
  width: 100%;
  height: 60px;
  background: rgba(255,255,255,1);
  margin: 18px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_10382 {
  width: 271px;
  height: 60px;
  background: rgba(249,239,231,0.5);
  padding: 18px 0px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 150px;
  overflow: hidden;
}
.v3157_10383 {
  width: 169px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 18px;
  left: 51px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_10384 {
  width: 50px;
  height: 4px;
  background: rgba(255,192,0,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 0px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  overflow: hidden;
}
.v3157_10385 {
  width: 271px;
  height: 60px;
  background: rgba(249,239,231,0.5);
  padding: 18px 0px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 439px;
  overflow: hidden;
}
.v3157_10386 {
  width: 181px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 18px;
  left: 45px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_10387 {
  width: 50px;
  height: 4px;
  background: rgba(255,192,0,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 0px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  overflow: hidden;
}
.v3157_10388 {
  width: 271px;
  height: 60px;
  background: rgba(249,239,231,0.5);
  padding: 18px 0px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 729px;
  overflow: hidden;
}
.v3157_10389 {
  width: 212px;
  color: rgba(197,90,17,1);
  position: absolute;
  top: 18px;
  left: 29px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_10390 {
  width: 50px;
  height: 4px;
  background: rgba(255,192,0,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 0px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  overflow: hidden;
}
.v3157_10391 {
  width: 271px;
  height: 60px;
  background: url("../images/v3157_10391.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 18px 0px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1018px;
  overflow: hidden;
}
.v3157_10392 {
  width: 164px;
  color: rgba(138,138,148,1);
  position: absolute;
  top: 18px;
  left: 53px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_10393 {
  width: 50px;
  height: 4px;
  background: rgba(255,192,0,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 0px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  overflow: hidden;
}
.v3157_10394 {
  width: 100%;
  height: 3px;
  background: url("../images/v3157_10394.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 18px;
  opacity: 1;
  position: absolute;
  top: 57px;
  left: 0px;
  overflow: hidden;
}
.v3157_10395 {
  width: 271px;
  height: 3px;
  background: rgba(235,235,237,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 150px;
  border-top-left-radius: 37px;
  border-top-right-radius: 37px;
  border-bottom-left-radius: 37px;
  border-bottom-right-radius: 37px;
  overflow: hidden;
}
.v3157_10396 {
  width: 271px;
  height: 3px;
  background: rgba(235,235,237,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 439px;
  border-top-left-radius: 37px;
  border-top-right-radius: 37px;
  border-bottom-left-radius: 37px;
  border-bottom-right-radius: 37px;
  overflow: hidden;
}
.v3157_10397 {
  width: 271px;
  height: 3px;
  background: rgba(197,90,17,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 729px;
  border-top-left-radius: 37px;
  border-top-right-radius: 37px;
  border-bottom-left-radius: 37px;
  border-bottom-right-radius: 37px;
  overflow: hidden;
}
.v3157_10398 {
  width: 271px;
  height: 3px;
  background: rgba(235,235,237,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1018px;
  border-top-left-radius: 37px;
  border-top-right-radius: 37px;
  border-bottom-left-radius: 37px;
  border-bottom-right-radius: 37px;
  overflow: hidden;
}
.v3157_10399 {
  width: 524px;
  height: 796px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 241px;
  left: 754px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  overflow: hidden;
}
.v3157_10400 {
  width: 476px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 135px;
  left: 24px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3157_10401 {
  width: 54px;
  height: 53px;
  background: rgba(249,239,231,1);
  padding: 5px 4px;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 446px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  overflow: hidden;
}
.v3157_10402 {
  width: 46px;
  height: 43px;
  background: url("../images/v3157_10402.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 4px;
  overflow: hidden;
}
.v3157_10403 {
  width: 15px;
  height: 13px;
  background: rgba(129,129,140,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 8px;
}
.v3157_10404 {
  width: 17px;
  height: 13px;
  background: rgba(255,192,0,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 21px;
}
.v3157_10405 {
  width: 46px;
  height: 43px;
  background: rgba(197,90,17,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v3157_10406 {
  width: 4px;
  height: 6px;
  background: rgba(204,153,0,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 23px;
}
.v3157_10407 {
  width: 336px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 37px;
  left: 94px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v3157_10408 {
  width: 44px;
  height: 44px;
  background: rgba(245,245,246,1);
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 24px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v3157_10409 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 10px;
  overflow: hidden;
}
.v3157_10410 {
  width: 15px;
  height: 0px;
  background: url("../images/v3157_10410.png");
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 5px;
  border: 1.5px solid rgba(91,91,127,1);
}
.v3157_10411 {
  width: 4px;
  height: 10px;
  background: url("../images/v3157_10411.png");
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 4px;
  border: 1.5px solid rgba(91,91,127,1);
}
.v3157_10412 {
  width: 136px;
  height: 52px;
  background: rgba(60,60,76,1);
  padding: 12px 28px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 718px;
  left: 364px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v3157_10413 {
  width: 40px;
  color: rgba(250,243,229,1);
  position: absolute;
  top: 12px;
  left: 48px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v3157_10415 {
  width: 132px;
  height: 52px;
  background: rgba(249,239,231,1);
  padding: 14px 24px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 218px;
  left: 24px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v3157_10416 {
  width: 29px;
  color: rgba(197,90,17,1);
  position: absolute;
  top: 14px;
  left: 51px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_10417 {
  width: 132px;
  height: 52px;
  background: url("../images/v3157_10417.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 14px 24px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 218px;
  left: 168px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v3157_10418 {
  width: 22px;
  color: rgba(14,14,44,1);
  position: absolute;
  top: 14px;
  left: 55px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_10419 {
  width: 476px;
  height: 160px;
  background: url("../images/v3157_10419.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 510px;
  left: 24px;
  overflow: hidden;
}
.v3157_10420 {
  width: 476px;
  height: 134px;
  background: rgba(249,249,249,1);
  padding: 14px 14px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v3157_10421 {
  width: 442px;
  color: rgba(177,177,183,1);
  position: absolute;
  top: 14px;
  left: 14px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: justified;
}
.v3157_10422 {
  width: 36px;
  color: rgba(174,174,178,1);
  position: absolute;
  top: 142px;
  left: 440px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v3157_10423 {
  width: 476px;
  height: 192px;
  background: url("../images/v3157_10423.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 14px;
  opacity: 1;
  position: absolute;
  top: 293px;
  left: 24px;
  overflow: hidden;
}
.v3157_10424 {
  width: 146px;
  color: rgba(171,171,178,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_10425 {
  width: 476px;
  height: 154px;
  background: rgba(255,255,255,1);
  padding: 28px 0px;
  margin: 18px;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v3157_10426 {
  width: 40px;
  height: 50px;
  background: url("../images/v3157_10426.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 217px;
  overflow: hidden;
}
.v3157_10427 {
  width: 40px;
  height: 50px;
  background: url("../images/v3157_10427.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_10428 {
  width: 39px;
  height: 49px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v3157_10429 {
  width: 40px;
  height: 50px;
  background: rgba(231,186,155,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v3157_10430 {
  width: 9px;
  height: 9px;
  background: url("../images/v3157_10430.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 30px;
  border: 0.9298798441886902px solid rgba(231,186,155,1);
}
.v3157_10431 {
  width: 19px;
  height: 18px;
  background: url("../images/v3157_10431.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 10px;
  overflow: hidden;
}
.v3157_10432 {
  width: 19px;
  height: 4px;
  background: url("../images/v3157_10432.png");
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 0px;
  border: 0.9298798441886902px solid rgba(231,186,155,1);
}
.v3157_10433 {
  width: 12px;
  height: 6px;
  background: url("../images/v3157_10433.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 3px;
  border: 0.9298798441886902px solid rgba(231,186,155,1);
}
.v3157_10434 {
  height: 14px;
  background: url("../images/v3157_10434.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 9px;
  border: 0.9298798441886902px solid rgba(231,186,155,1);
}
.v3157_10435 {
  width: 205px;
  color: rgba(14,14,44,1);
  position: absolute;
  top: 99px;
  left: 135px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_10436 {
  width: 169px;
  height: 18px;
  background: url("../images/v3157_10436.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 735px;
  left: 24px;
  overflow: hidden;
}
.v3157_10437 {
  width: 169px;
  color: rgba(171,171,178,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_10438 {
  width: 538px;
  height: 166px;
  background: url("../images/v3157_10438.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 530px;
  left: 162px;
  overflow: hidden;
}
.v3157_10439 {
  width: 538px;
  color: rgba(166,166,166,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_10440 {
  width: 538px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 36px;
  left: 0px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v3157_10441 {
  width: 538px;
  color: rgba(171,171,178,1);
  position: absolute;
  top: 86px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_10442 {
  width: 538px;
  height: 20px;
  background: url("../images/v3157_10442.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: -1px;
  opacity: 1;
  position: absolute;
  top: 146px;
  left: 0px;
  overflow: hidden;
}
.v3157_10443 {
  width: 145px;
  color: rgba(174,174,178,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v3157_10444 {
  width: 13px;
  height: 11px;
  background: url("../images/v3157_10444.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 144px;
  overflow: hidden;
}
.v3157_10445 {
  width: 9px;
  color: rgba(255,59,48,1);
  position: absolute;
  top: 5px;
  left: 3px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_10446 {
  width: 538px;
  height: 6px;
  background: url("../images/v3157_10446.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 733px;
  left: 162px;
  overflow: hidden;
}
.v3157_10447 {
  width: 83px;
  height: 6px;
  background: rgba(197,90,17,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 37px;
  border-top-right-radius: 37px;
  border-bottom-left-radius: 37px;
  border-bottom-right-radius: 37px;
  overflow: hidden;
}
.v3157_10448 {
  width: 83px;
  height: 6px;
  background: rgba(235,235,237,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 91px;
  border-top-left-radius: 37px;
  border-top-right-radius: 37px;
  border-bottom-left-radius: 37px;
  border-bottom-right-radius: 37px;
  overflow: hidden;
}
.v3157_10449 {
  width: 83px;
  height: 6px;
  background: rgba(235,235,237,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 182px;
  border-top-left-radius: 37px;
  border-top-right-radius: 37px;
  border-bottom-left-radius: 37px;
  border-bottom-right-radius: 37px;
  overflow: hidden;
}
.v3157_10450 {
  width: 83px;
  height: 6px;
  background: rgba(235,235,237,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 273px;
  border-top-left-radius: 37px;
  border-top-right-radius: 37px;
  border-bottom-left-radius: 37px;
  border-bottom-right-radius: 37px;
  overflow: hidden;
}
.v3157_10451 {
  width: 83px;
  height: 6px;
  background: rgba(235,235,237,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 364px;
  border-top-left-radius: 37px;
  border-top-right-radius: 37px;
  border-bottom-left-radius: 37px;
  border-bottom-right-radius: 37px;
  overflow: hidden;
}
.v3157_10452 {
  width: 83px;
  height: 6px;
  background: rgba(235,235,237,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 455px;
  border-top-left-radius: 37px;
  border-top-right-radius: 37px;
  border-bottom-left-radius: 37px;
  border-bottom-right-radius: 37px;
  overflow: hidden;
}
.v3157_10453 {
  width: 538px;
  height: 252px;
  background: url("../images/v3157_10453.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 249px;
  left: 162px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
}
