* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v3157_13558 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_13559 {
  width: 100%;
  height: 100%;
  background: url("../images/v3157_13559.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_13560 {
  width: 100%;
  height: 890px;
  background: rgba(0,0,0,0.75);
  opacity: 1;
  position: absolute;
  top: 134px;
  left: 0px;
  overflow: hidden;
}
.v3157_13561 {
  width: 100%;
  height: 70px;
  background: rgba(34,34,43,1);
  padding: 8px 162px;
  margin: 126px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_13562 {
  width: 141px;
  height: 54px;
  background: url("../images/v3157_13562.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 162px;
  overflow: hidden;
}
.v3157_13563 {
  width: 60px;
  height: 54px;
  background: url("../images/v3157_13563.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 30px;
  overflow: hidden;
}
.v3157_13564 {
  width: 20px;
  height: 16px;
  background: rgba(129,129,140,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 11px;
}
.v3157_13565 {
  width: 22px;
  height: 16px;
  background: rgba(255,192,0,1);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 28px;
}
.v3157_13566 {
  width: 60px;
  height: 54px;
  background: rgba(197,90,17,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v3157_13567 {
  width: 6px;
  height: 8px;
  background: rgba(204,153,0,1);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 31px;
}
.v3157_13568 {
  width: 8px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 76px;
}
.v3157_13569 {
  width: 9px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 132px;
}
.v3157_13570 {
  width: 11px;
  height: 17px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 120px;
}
.v3157_13571 {
  width: 9px;
  height: 15px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 87px;
}
.v3157_13572 {
  width: 9px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 109px;
}
.v3157_13573 {
  width: 10px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 98px;
}
.v3157_13574 {
  width: 17px;
  height: 15px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 0px;
}
.v3157_13575 {
  width: 3px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 19px;
}
.v3157_13576 {
  width: 9px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 24px;
}
.v3157_13577 {
  width: 10px;
  height: 15px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 35px;
}
.v3157_13578 {
  width: 415px;
  height: 40px;
  background: url("../images/v3157_13578.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 18px;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 863px;
  overflow: hidden;
}
.v3157_13579 {
  width: 105px;
  height: 24px;
  background: url("../images/v3157_13579.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 45px;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 0px;
  overflow: hidden;
}
.v3157_13580 {
  width: 41px;
  color: rgba(177,177,183,1);
  position: absolute;
  top: 0px;
  left: 32px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_13581 {
  width: 144px;
  height: 40px;
  background: rgba(60,60,76,1);
  padding: 8px 18px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 123px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v3157_13582 {
  width: 108px;
  color: rgba(250,243,229,1);
  position: absolute;
  top: 10px;
  left: 18px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_13583 {
  width: 130px;
  height: 40px;
  background: rgba(250,243,229,1);
  padding: 8px 18px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 285px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v3157_13584 {
  width: 26px;
  height: 26px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 18px;
  overflow: hidden;
}
.v3157_13585 {
  width: 26px;
  height: 26px;
  background: url("../images/v3157_13585.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 0px;
  overflow: hidden;
}
.v3157_13586 {
  width: 26px;
  height: 26px;
  background: url("../images/v3157_13586.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_13587 {
  width: 26px;
  height: 26px;
  background: url("../images/v3157_13587.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_13588 {
  width: 26px;
  height: 26px;
  background: url("../images/v3157_13588.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_13589 {
  width: 26px;
  height: 26px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v3157_13590 {
  width: 24px;
  height: 24px;
  background: url("../images/v3157_13590.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v3157_13591 {
  width: 8px;
  height: 8px;
  background: url("../images/v3157_13591.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 8px;
  overflow: hidden;
}
.v3157_13592 {
  width: 8px;
  height: 8px;
  background: url("../images/v3157_13592.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1.2000000476837158px solid rgba(60,60,76,1);
}
.v3157_13593 {
  width: 15px;
  height: 6px;
  background: url("../images/v3157_13593.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 4px;
  overflow: hidden;
}
.v3157_13594 {
  width: 15px;
  height: 6px;
  background: url("../images/v3157_13594.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1.2000000476837158px solid rgba(60,60,76,1);
}
.v3157_13595 {
  width: 1px;
  height: 1px;
  background: url("../images/v3157_13595.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 21px;
  overflow: hidden;
}
.v3157_13596 {
  width: 1px;
  height: 1px;
  background: rgba(60,60,76,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v3157_13597 {
  width: 24px;
  height: 24px;
  background: url("../images/v3157_13597.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_13598 {
  width: 24px;
  height: 24px;
  background: url("../images/v3157_13598.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1.2000000476837158px solid rgba(60,60,76,1);
}
.v3157_13599 {
  width: 36px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 10px;
  left: 54px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_13600 {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 100px;
  overflow: hidden;
}
.v3157_13601 {
  width: 7px;
  height: 4px;
  background: rgba(197,197,201,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 2px;
}
.v3157_13602 {
  width: 804px;
  height: 516px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 244px;
  left: 318px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v3157_13603 {
  width: 36px;
  height: 36px;
  background: url("../images/v3157_13603.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 6px 6px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 270px;
  left: 1060px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v3157_13604 {
  width: 24px;
  height: 24px;
  background: url("../images/v3157_13604.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 6px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 6px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v3157_13605 {
  width: 8px;
  height: 8px;
  background: url("../images/v3157_13605.png");
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 7px;
  border: 1.5px solid rgba(14,14,44,1);
}
.v3157_13606 {
  width: 289px;
  height: 50px;
  background: rgba(197,90,17,1);
  opacity: 1;
  position: absolute;
  top: 676px;
  left: 799px;
}
.v3157_13607 {
  width: 136px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 687px;
  left: 875px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v3157_13608 {
  width: 169px;
  height: 18px;
  background: url("../images/v3157_13608.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 5px;
  opacity: 1;
  position: absolute;
  top: 593px;
  left: 352px;
  overflow: hidden;
}
.v3157_13609 {
  width: 77px;
  color: rgba(157,157,165,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v3157_13610 {
  width: 3px;
  color: rgba(157,157,165,1);
  position: absolute;
  top: 0px;
  left: 82px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v3157_13611 {
  width: 62px;
  color: rgba(157,157,165,1);
  position: absolute;
  top: 0px;
  left: 90px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v3157_13612 {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 157px;
  overflow: hidden;
}
.v3157_13613 {
  width: 10px;
  height: 10px;
  background: url("../images/v3157_13613.png");
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  border: 0.75px solid rgba(157,157,165,1);
}
.v3157_13614 {
  width: 0px;
  height: 3px;
  background: url("../images/v3157_13614.png");
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 5px;
  border: 0.75px solid rgba(157,157,165,1);
}
.v3157_13615 {
  width: 0px;
  background: url("../images/v3157_13615.png");
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 5px;
  border: 0.75px solid rgba(157,157,165,1);
}
.v3157_13616 {
  width: 108px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 401px;
  left: 352px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_13617 {
  width: 94px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 506px;
  left: 352px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_13618 {
  width: 736px;
  height: 50px;
  background: rgba(255,255,255,1);
  padding: 13px 16px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 537px;
  left: 352px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v3157_13619 {
  width: 670px;
  color: rgba(177,177,183,1);
  position: absolute;
  top: 13px;
  left: 16px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_13620 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 696px;
  overflow: hidden;
}
.v3157_13621 {
  width: 12px;
  height: 6px;
  background: url("../images/v3157_13621.png");
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 6px;
  border: 1.5px solid rgba(157,157,165,1);
}
.v3157_13622 {
  width: 512px;
  color: rgba(132,132,142,1);
  position: absolute;
  top: 319px;
  left: 352px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_13623 {
  width: 186px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 278px;
  left: 352px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v3157_13624 {
  width: 65px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 401px;
  left: 732px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_13625 {
  width: 356px;
  height: 50px;
  background: rgba(255,255,255,1);
  padding: 13px 16px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 432px;
  left: 732px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v3157_13626 {
  width: 290px;
  color: rgba(177,177,183,1);
  position: absolute;
  top: 13px;
  left: 16px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_13627 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 316px;
  overflow: hidden;
}
.v3157_13628 {
  width: 12px;
  height: 6px;
  background: url("../images/v3157_13628.png");
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 6px;
  border: 1.5px solid rgba(157,157,165,1);
}
.v3157_13629 {
  width: 356px;
  height: 50px;
  background: rgba(255,255,255,1);
  padding: 13px 18px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 432px;
  left: 352px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v3157_13630 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 18px;
  overflow: hidden;
}
.v3157_13631 {
  width: 4px;
  height: 4px;
  background: url("../images/v3157_13631.png");
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 17px;
  border: 1.5px solid rgba(157,157,165,1);
}
.v3157_13632 {
  width: 18px;
  height: 18px;
  background: url("../images/v3157_13632.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
  border: 1.5px solid rgba(157,157,165,1);
}
.v3157_13633 {
  width: 286px;
  color: rgba(177,177,183,1);
  position: absolute;
  top: 13px;
  left: 52px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
