* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v3157_9648 {
  width: 100%;
  height: 1531px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_9650 {
  width: 100%;
  height: 88px;
  background: rgba(34,34,43,1);
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 8px;
  overflow: hidden;
}
.v3157_9651 {
  width: 100%;
  height: 70px;
  background: rgba(34,34,43,1);
  padding: 8px 162px;
  margin: 126px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_9652 {
  width: 141px;
  height: 54px;
  background: url("../images/v3157_9652.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 162px;
  overflow: hidden;
}
.v3157_9653 {
  width: 60px;
  height: 54px;
  background: url("../images/v3157_9653.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 30px;
  overflow: hidden;
}
.v3157_9654 {
  width: 20px;
  height: 16px;
  background: rgba(129,129,140,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 11px;
}
.v3157_9655 {
  width: 22px;
  height: 16px;
  background: rgba(255,192,0,1);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 28px;
}
.v3157_9656 {
  width: 60px;
  height: 54px;
  background: rgba(197,90,17,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v3157_9657 {
  width: 6px;
  height: 8px;
  background: rgba(204,153,0,1);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 31px;
}
.v3157_9658 {
  width: 8px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 76px;
}
.v3157_9659 {
  width: 9px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 132px;
}
.v3157_9660 {
  width: 11px;
  height: 17px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 120px;
}
.v3157_9661 {
  width: 9px;
  height: 15px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 87px;
}
.v3157_9662 {
  width: 9px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 109px;
}
.v3157_9663 {
  width: 10px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 98px;
}
.v3157_9664 {
  width: 17px;
  height: 15px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 0px;
}
.v3157_9665 {
  width: 3px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 19px;
}
.v3157_9666 {
  width: 9px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 24px;
}
.v3157_9667 {
  width: 10px;
  height: 15px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 35px;
}
.v3157_9668 {
  width: 578px;
  height: 40px;
  background: url("../images/v3157_9668.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 18px;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 700px;
  overflow: hidden;
}
.v3157_9669 {
  width: 253px;
  height: 24px;
  background: url("../images/v3157_9669.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 45px;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 0px;
  overflow: hidden;
}
.v3157_9670 {
  width: 30px;
  height: 24px;
  background: url("../images/v3157_9670.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 32px;
  overflow: hidden;
}
.v3157_9671 {
  width: 30px;
  color: rgba(177,177,183,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_9672 {
  width: 50px;
  height: 4px;
  background: rgba(255,192,0,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 0px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  overflow: hidden;
}
.v3157_9673 {
  width: 28px;
  height: 24px;
  background: url("../images/v3157_9673.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 107px;
  overflow: hidden;
}
.v3157_9674 {
  width: 28px;
  color: rgba(177,177,183,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_9675 {
  width: 50px;
  height: 4px;
  background: rgba(255,192,0,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 0px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  overflow: hidden;
}
.v3157_9676 {
  width: 41px;
  color: rgba(177,177,183,1);
  position: absolute;
  top: 0px;
  left: 180px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_9677 {
  width: 159px;
  height: 40px;
  background: rgba(60,60,76,1);
  padding: 8px 18px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 271px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v3157_9678 {
  width: 123px;
  color: rgba(250,243,229,1);
  position: absolute;
  top: 10px;
  left: 18px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_9679 {
  width: 130px;
  height: 40px;
  background: rgba(250,243,229,1);
  padding: 8px 18px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 448px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v3157_9680 {
  width: 26px;
  height: 26px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 18px;
  overflow: hidden;
}
.v3157_9681 {
  width: 26px;
  height: 26px;
  background: url("../images/v3157_9681.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 0px;
  overflow: hidden;
}
.v3157_9682 {
  width: 26px;
  height: 26px;
  background: url("../images/v3157_9682.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_9683 {
  width: 26px;
  height: 26px;
  background: url("../images/v3157_9683.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_9684 {
  width: 26px;
  height: 26px;
  background: url("../images/v3157_9684.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_9685 {
  width: 26px;
  height: 26px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v3157_9686 {
  width: 24px;
  height: 24px;
  background: url("../images/v3157_9686.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v3157_9687 {
  width: 8px;
  height: 8px;
  background: url("../images/v3157_9687.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 8px;
  overflow: hidden;
}
.v3157_9688 {
  width: 8px;
  height: 8px;
  background: url("../images/v3157_9688.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1.2000000476837158px solid rgba(60,60,76,1);
}
.v3157_9689 {
  width: 15px;
  height: 6px;
  background: url("../images/v3157_9689.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 4px;
  overflow: hidden;
}
.v3157_9690 {
  width: 15px;
  height: 6px;
  background: url("../images/v3157_9690.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1.2000000476837158px solid rgba(60,60,76,1);
}
.v3157_9691 {
  width: 1px;
  height: 1px;
  background: url("../images/v3157_9691.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 21px;
  overflow: hidden;
}
.v3157_9692 {
  width: 1px;
  height: 1px;
  background: rgba(60,60,76,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v3157_9693 {
  width: 24px;
  height: 24px;
  background: url("../images/v3157_9693.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_9694 {
  width: 24px;
  height: 24px;
  background: url("../images/v3157_9694.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1.2000000476837158px solid rgba(60,60,76,1);
}
.v3157_9695 {
  width: 36px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 10px;
  left: 54px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_9696 {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 100px;
  overflow: hidden;
}
.v3157_9697 {
  width: 7px;
  height: 4px;
  background: rgba(197,197,201,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 2px;
}
.v3157_9698 {
  width: 100%;
  height: 100%;
  background: rgba(245,245,246,1);
  opacity: 1;
  position: absolute;
  top: 70px;
  left: 0px;
  overflow: hidden;
}
.v3157_9699 {
  width: 100%;
  height: 402px;
  background: rgba(34,34,43,1);
  padding: 48px 162px;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 1129px;
  left: 0px;
  overflow: hidden;
}
.v3157_9700 {
  width: 575px;
  height: 306px;
  background: url("../images/v3157_9700.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 18px;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 162px;
  overflow: hidden;
}
.v3157_9701 {
  width: 66px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 0.4000000059604645;
  text-align: left;
}
.v3157_9702 {
  width: 438px;
  height: 170px;
  background: url("../images/v3157_9702.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 82px;
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 0px;
  overflow: hidden;
}
.v3157_9703 {
  width: 84px;
  height: 170px;
  background: url("../images/v3157_9703.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_9704 {
  width: 63px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_9705 {
  width: 56px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 30px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_9706 {
  width: 84px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 60px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_9707 {
  width: 63px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 90px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_9708 {
  width: 78px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 120px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_9709 {
  width: 38px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 150px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_9710 {
  width: 138px;
  height: 110px;
  background: url("../images/v3157_9710.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 166px;
  overflow: hidden;
}
.v3157_9711 {
  width: 91px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_9712 {
  width: 81px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 30px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_9713 {
  width: 117px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 60px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_9714 {
  width: 138px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 90px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_9715 {
  width: 52px;
  height: 80px;
  background: url("../images/v3157_9715.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 386px;
  overflow: hidden;
}
.v3157_9716 {
  width: 26px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_9717 {
  width: 24px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 30px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_9718 {
  width: 52px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 60px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_9719 {
  width: 575px;
  height: 82px;
  background: url("../images/v3157_9719.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 207px;
  opacity: 1;
  position: absolute;
  top: 224px;
  left: 0px;
  overflow: hidden;
}
.v3157_9720 {
  width: 180px;
  height: 82px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_9721 {
  width: 7px;
  height: 30px;
  background: rgba(250,243,229,1);
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 41px;
}
.v3157_9722 {
  width: 34px;
  height: 30px;
  background: rgba(250,243,229,1);
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 0px;
}
.v3157_9723 {
  width: 20px;
  height: 30px;
  background: rgba(250,243,229,1);
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 85px;
}
.v3157_9724 {
  width: 24px;
  height: 30px;
  background: rgba(250,243,229,1);
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 54px;
}
.v3157_9725 {
  width: 30px;
  height: 25px;
  background: rgba(129,129,140,1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 106px;
}
.v3157_9726 {
  width: 34px;
  height: 25px;
  background: rgba(255,192,0,1);
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 131px;
}
.v3157_9727 {
  width: 90px;
  height: 82px;
  background: rgba(197,90,17,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 89px;
}
.v3157_9728 {
  width: 9px;
  height: 12px;
  background: rgba(204,153,0,1);
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 136px;
}
.v3157_9729 {
  width: 107px;
  height: 79px;
  background: url("../images/v3157_9729.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 5px;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 387px;
  overflow: hidden;
}
.v3157_9730 {
  width: 60px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 0.4000000059604645;
  text-align: left;
}
.v3157_9731 {
  width: 44px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 23px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 0.4000000059604645;
  text-align: left;
}
.v3157_9732 {
  width: 107px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 46px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 0.4000000059604645;
  text-align: left;
}
.v3157_9733 {
  width: 509px;
  height: 306px;
  background: url("../images/v3157_9733.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 769px;
  overflow: hidden;
}
.v3157_9734 {
  width: 406px;
  height: 81px;
  background: url("../images/v3157_9734.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 18px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_9735 {
  width: 66px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 0.4000000059604645;
  text-align: left;
}
.v3157_9736 {
  width: 406px;
  height: 45px;
  background: url("../images/v3157_9736.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 96px;
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 0px;
  overflow: hidden;
}
.v3157_9737 {
  width: 112px;
  height: 45px;
  background: url("../images/v3157_9737.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 5px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_9738 {
  width: 112px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_9739 {
  width: 108px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 25px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_9740 {
  width: 198px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 208px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_9741 {
  width: 334px;
  height: 56px;
  background: url("../images/v3157_9741.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 18px;
  opacity: 1;
  position: absolute;
  top: 113px;
  left: 0px;
  overflow: hidden;
}
.v3157_9742 {
  width: 51px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 0.4000000059604645;
  text-align: left;
}
.v3157_9743 {
  width: 334px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 36px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_9744 {
  width: 496px;
  height: 86px;
  background: url("../images/v3157_9744.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 96px;
  opacity: 1;
  position: absolute;
  top: 201px;
  left: 0px;
  overflow: hidden;
}
.v3157_9745 {
  width: 230px;
  height: 86px;
  background: url("../images/v3157_9745.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 18px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_9746 {
  width: 55px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 0.4000000059604645;
  text-align: left;
}
.v3157_9747 {
  width: 230px;
  height: 50px;
  background: url("../images/v3157_9747.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 0px;
  overflow: hidden;
}
.v3157_9748 {
  width: 50px;
  height: 50px;
  background: url("../images/v3157_9748.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v3157_9749 {
  width: 16px;
  height: 16px;
  background: rgba(197,90,17,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 17px;
}
.v3157_9750 {
  width: 50px;
  height: 50px;
  background: url("../images/v3157_9750.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 60px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v3157_9751 {
  width: 24px;
  height: 15px;
  background: rgba(197,90,17,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 13px;
}
.v3157_9752 {
  width: 50px;
  height: 50px;
  background: url("../images/v3157_9752.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 120px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v3157_9753 {
  width: 16px;
  height: 16px;
  background: rgba(197,90,17,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 17px;
}
.v3157_9754 {
  width: 50px;
  height: 50px;
  background: url("../images/v3157_9754.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 180px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v3157_9755 {
  width: 22px;
  height: 16px;
  background: rgba(197,90,17,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 14px;
}
.v3157_9756 {
  width: 170px;
  height: 86px;
  background: url("../images/v3157_9756.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 18px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 326px;
  overflow: hidden;
}
.v3157_9757 {
  width: 57px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 0.4000000059604645;
  text-align: left;
}
.v3157_9758 {
  width: 170px;
  height: 50px;
  background: url("../images/v3157_9758.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 0px;
  overflow: hidden;
}
.v3157_9759 {
  width: 50px;
  height: 50px;
  background: url("../images/v3157_9759.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v3157_9760 {
  width: 18px;
  height: 18px;
  background: rgba(197,90,17,1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 16px;
}
.v3157_9761 {
  width: 50px;
  height: 50px;
  background: url("../images/v3157_9761.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 60px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v3157_9762 {
  width: 16px;
  height: 13px;
  background: rgba(197,90,17,1);
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 17px;
}
.v3157_9763 {
  width: 50px;
  height: 50px;
  background: url("../images/v3157_9763.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 120px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v3157_9764 {
  width: 18px;
  height: 18px;
  background: rgba(197,90,17,1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 16px;
}
.v3157_9765 {
  width: 100%;
  height: 216px;
  background: url("../images/v3157_9765.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 70px;
  left: 0px;
  overflow: hidden;
}
.v3157_9766 {
  width: 300px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 144px;
  left: 561px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v3157_9767 {
  width: 140px;
  color: rgba(119,119,130,1);
  position: absolute;
  top: 188px;
  left: 642px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_9768 {
  width: 722px;
  height: 621px;
  background: rgba(255,255,255,1);
  padding: 28px 28px;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 360px;
  left: 556px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v3157_9769 {
  width: 326px;
  height: 135px;
  background: url("../images/v3157_9769.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 28px;
  overflow: hidden;
}
.v3157_9770 {
  width: 135px;
  height: 135px;
  background: rgba(241,215,198,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v3157_9771 {
  width: 64px;
  color: rgba(197,90,17,1);
  position: absolute;
  top: 31px;
  left: 35px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 50px;
  opacity: 1;
  text-align: center;
}
.v3157_9772 {
  width: 167px;
  height: 106px;
  background: url("../images/v3157_9772.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 18px;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 159px;
  overflow: hidden;
}
.v3157_9773 {
  width: 167px;
  height: 44px;
  background: rgba(197,90,17,1);
  padding: 12px 28px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v3157_9774 {
  width: 109px;
  color: rgba(250,243,229,1);
  position: absolute;
  top: 12px;
  left: 29px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v3157_9775 {
  width: 167px;
  height: 44px;
  background: rgba(235,235,237,1);
  padding: 12px 28px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 62px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v3157_9776 {
  width: 111px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 12px;
  left: 28px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 0.5;
  text-align: center;
}
.v3157_9777 {
  width: 666px;
  height: 52px;
  background: url("../images/v3157_9777.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 21px;
  opacity: 1;
  position: absolute;
  top: 187px;
  left: 28px;
  overflow: hidden;
}
.v3157_9778 {
  width: 322px;
  height: 52px;
  background: rgba(255,255,255,1);
  padding: 16px 16px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v3157_9779 {
  width: 290px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 16px;
  left: 16px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 0.5;
  text-align: left;
}
.v3157_9780 {
  width: 73px;
  height: 20px;
  background: rgba(255,255,255,1);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 12px;
  overflow: hidden;
}
.v3157_9781 {
  width: 65px;
  color: rgba(174,174,178,1);
  position: absolute;
  top: 0px;
  left: 4px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v3157_9782 {
  width: 322px;
  height: 52px;
  background: rgba(255,255,255,1);
  padding: 16px 16px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 343px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v3157_9783 {
  width: 290px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 16px;
  left: 16px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 0.5;
  text-align: left;
}
.v3157_9784 {
  width: 73px;
  height: 20px;
  background: rgba(255,255,255,1);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 12px;
  overflow: hidden;
}
.v3157_9785 {
  width: 65px;
  color: rgba(174,174,178,1);
  position: absolute;
  top: 0px;
  left: 4px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v3157_9786 {
  width: 666px;
  height: 52px;
  background: url("../images/v3157_9786.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 21px;
  opacity: 1;
  position: absolute;
  top: 263px;
  left: 28px;
  overflow: hidden;
}
.v3157_9787 {
  width: 322px;
  height: 52px;
  background: rgba(255,255,255,1);
  padding: 16px 16px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v3157_9788 {
  width: 290px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 16px;
  left: 16px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 0.5;
  text-align: left;
}
.v3157_9789 {
  width: 94px;
  height: 20px;
  background: rgba(255,255,255,1);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 12px;
  overflow: hidden;
}
.v3157_9790 {
  width: 86px;
  color: rgba(174,174,178,1);
  position: absolute;
  top: 0px;
  left: 4px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v3157_9791 {
  width: 322px;
  height: 52px;
  background: rgba(255,255,255,1);
  padding: 16px 16px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 343px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v3157_9792 {
  width: 24px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 16px;
  left: 16px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 0.5;
  text-align: left;
}
.v3157_9793 {
  width: 2px;
  height: 20px;
  background: rgba(209,209,214,1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 50px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v3157_9794 {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 62px;
  overflow: hidden;
}
.v3157_9795 {
  width: 7px;
  height: 4px;
  background: rgba(197,197,201,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 2px;
}
.v3157_9796 {
  width: 89px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 16px;
  left: 84px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 0.5;
  text-align: left;
}
.v3157_9797 {
  width: 98px;
  height: 20px;
  background: rgba(255,255,255,1);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 12px;
  overflow: hidden;
}
.v3157_9798 {
  width: 90px;
  color: rgba(174,174,178,1);
  position: absolute;
  top: 0px;
  left: 4px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v3157_9799 {
  width: 666px;
  height: 52px;
  background: url("../images/v3157_9799.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 21px;
  opacity: 1;
  position: absolute;
  top: 339px;
  left: 28px;
  overflow: hidden;
}
.v3157_9800 {
  width: 322px;
  height: 52px;
  background: rgba(255,255,255,1);
  padding: 16px 16px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v3157_9801 {
  width: 256px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 16px;
  left: 16px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 0.5;
  text-align: left;
}
.v3157_9802 {
  width: 105px;
  height: 20px;
  background: rgba(255,255,255,1);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 12px;
  overflow: hidden;
}
.v3157_9803 {
  width: 97px;
  color: rgba(174,174,178,1);
  position: absolute;
  top: 0px;
  left: 4px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v3157_9804 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 0.5;
  position: absolute;
  top: 14px;
  left: 282px;
  overflow: hidden;
}
.v3157_9805 {
  width: 12px;
  height: 6px;
  background: url("../images/v3157_9805.png");
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 6px;
  border: 1.5px solid rgba(20,27,52,1);
}
.v3157_9806 {
  width: 322px;
  height: 52px;
  background: rgba(255,255,255,1);
  padding: 16px 16px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 343px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v3157_9807 {
  width: 256px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 16px;
  left: 16px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 0.5;
  text-align: left;
}
.v3157_9808 {
  width: 98px;
  height: 20px;
  background: rgba(255,255,255,1);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 12px;
  overflow: hidden;
}
.v3157_9809 {
  width: 90px;
  color: rgba(174,174,178,1);
  position: absolute;
  top: 0px;
  left: 4px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v3157_9810 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 0.5;
  position: absolute;
  top: 14px;
  left: 282px;
  overflow: hidden;
}
.v3157_9811 {
  width: 12px;
  height: 6px;
  background: url("../images/v3157_9811.png");
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 6px;
  border: 1.5px solid rgba(20,27,52,1);
}
.v3157_9812 {
  width: 666px;
  height: 110px;
  background: rgba(255,255,255,1);
  padding: 14px 16px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 415px;
  left: 28px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v3157_9813 {
  width: 634px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 14px;
  left: 16px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 0.5;
  text-align: left;
}
.v3157_9814 {
  width: 634px;
  color: rgba(174,174,178,1);
  position: absolute;
  top: 84px;
  left: 16px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v3157_9815 {
  width: 68px;
  height: 20px;
  background: rgba(255,255,255,1);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 12px;
  overflow: hidden;
}
.v3157_9816 {
  width: 60px;
  color: rgba(174,174,178,1);
  position: absolute;
  top: 0px;
  left: 4px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v3157_9817 {
  width: 327px;
  height: 44px;
  background: url("../images/v3157_9817.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 18px;
  opacity: 1;
  position: absolute;
  top: 549px;
  left: 28px;
  overflow: hidden;
}
.v3157_9818 {
  width: 129px;
  height: 44px;
  background: rgba(60,60,76,1);
  padding: 12px 28px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v3157_9819 {
  width: 73px;
  color: rgba(250,243,229,1);
  position: absolute;
  top: 12px;
  left: 28px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v3157_9820 {
  width: 180px;
  height: 44px;
  background: rgba(235,235,237,1);
  padding: 12px 28px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 147px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v3157_9821 {
  width: 124px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 12px;
  left: 28px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v3157_9822 {
  width: 374px;
  height: 86px;
  background: url("../images/v3157_9822.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 388px;
  left: 162px;
  overflow: hidden;
}
.v3157_9823 {
  width: 166px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v3157_9824 {
  width: 374px;
  color: rgba(171,171,178,1);
  position: absolute;
  top: 38px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
