* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v3157_14516 {
  width: 393px;
  height: 852px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v3157_14518 {
  width: 361px;
  height: 44px;
  background: url("../images/v3157_14518.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 16px;
  overflow: hidden;
}
.v3157_14519 {
  width: 48px;
  height: 44px;
  background: rgba(245,245,246,1);
  padding: 10px 12px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v3157_14520 {
  width: 24px;
  height: 24px;
  background: url("../images/v3157_14520.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 12px;
  overflow: hidden;
}
.v3157_14521 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 24px;
  overflow: hidden;
}
.v3157_14522 {
  width: 14px;
  background: url("../images/v3157_14522.png");
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 5px;
  border: 1.9999998807907104px solid rgba(60,60,76,1);
}
.v3157_14523 {
  width: 6px;
  height: 6px;
  background: url("../images/v3157_14523.png");
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 13px;
  border: 1.9999998807907104px solid rgba(60,60,76,1);
}
.v3157_14524 {
  width: 6px;
  height: 6px;
  background: url("../images/v3157_14524.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 13px;
  border: 1.9999998807907104px solid rgba(60,60,76,1);
}
.v3157_14525 {
  width: 301px;
  color: rgba(46,49,56,1);
  position: absolute;
  top: 12px;
  left: 60px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3157_14526 {
  width: 48px;
  height: 44px;
  background: rgba(245,245,246,1);
  padding: 10px 12px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 313px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v3157_14527 {
  width: 24px;
  height: 24px;
  background: url("../images/v3157_14527.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 12px;
  overflow: hidden;
}
.v3157_14528 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_14529 {
  width: 14px;
  height: 19px;
  background: url("../images/v3157_14529.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 4px;
  overflow: hidden;
}
.v3157_14530 {
  width: 14px;
  height: 15px;
  background: url("../images/v3157_14530.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1.5px solid rgba(60,60,76,1);
}
.v3157_14531 {
  width: 4px;
  height: 1px;
  background: url("../images/v3157_14531.png");
  opacity: 0.4000000059604645;
  position: absolute;
  top: 18px;
  left: 5px;
  border: 1.5px solid rgba(60,60,76,1);
}
.v3157_14532 {
  width: 6px;
  height: 6px;
  background: rgba(247,85,85,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 16px;
  border-radius: 50%;
}
.v3157_14533 {
  width: 393px;
  height: 984px;
  background: rgba(245,245,246,1);
  padding: 24px 16px;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 109px;
  left: 0px;
  overflow: hidden;
}
.v3157_14534 {
  width: 361px;
  height: 78px;
  background: url("../images/v3157_14534.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 16px;
  overflow: hidden;
}
.v3157_14535 {
  width: 154px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v3157_14536 {
  width: 361px;
  color: rgba(132,132,142,1);
  position: absolute;
  top: 38px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_14537 {
  width: 361px;
  height: 408px;
  background: url("../images/v3157_14537.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 126px;
  left: 16px;
  overflow: hidden;
}
.v3157_14538 {
  width: 361px;
  height: 120px;
  background: rgba(255,255,255,1);
  padding: 8px 8px;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  overflow: hidden;
}
.v3157_14539 {
  width: 106px;
  height: 104px;
  background: url("../images/v3157_14539.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v3157_14540 {
  width: 227px;
  height: 96px;
  background: rgba(243,244,246,0.25);
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 126px;
  overflow: hidden;
}
.v3157_14541 {
  width: 51px;
  height: 20px;
  background: url("../images/v3157_14541.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_14542 {
  width: 10px;
  height: 10px;
  background: rgba(255,192,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  border-radius: 50%;
}
.v3157_14543 {
  width: 33px;
  color: rgba(132,132,142,1);
  position: absolute;
  top: 0px;
  left: 18px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_14544 {
  width: 227px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 28px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_14545 {
  width: 128px;
  height: 20px;
  background: url("../images/v3157_14545.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 76px;
  left: 0px;
  overflow: hidden;
}
.v3157_14546 {
  width: 16px;
  height: 16px;
  background: url("../images/v3157_14546.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  overflow: hidden;
}
.v3157_14547 {
  width: 12px;
  height: 13px;
  background: url("../images/v3157_14547.png");
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 2px;
  border: 1px solid rgba(60,60,76,1);
}
.v3157_14548 {
  width: 104px;
  color: rgba(132,132,142,1);
  position: absolute;
  top: 0px;
  left: 24px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_14549 {
  width: 361px;
  height: 120px;
  background: rgba(255,255,255,1);
  padding: 8px 8px;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 144px;
  left: 0px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  overflow: hidden;
}
.v3157_14550 {
  width: 106px;
  height: 104px;
  background: url("../images/v3157_14550.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v3157_14551 {
  width: 227px;
  height: 96px;
  background: rgba(243,244,246,0.25);
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 126px;
  overflow: hidden;
}
.v3157_14552 {
  width: 51px;
  height: 20px;
  background: url("../images/v3157_14552.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_14553 {
  width: 10px;
  height: 10px;
  background: rgba(60,60,76,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  border-radius: 50%;
}
.v3157_14554 {
  width: 33px;
  color: rgba(132,132,142,1);
  position: absolute;
  top: 0px;
  left: 18px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_14555 {
  width: 227px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 28px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_14556 {
  width: 59px;
  height: 20px;
  background: url("../images/v3157_14556.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 76px;
  left: 0px;
  overflow: hidden;
}
.v3157_14557 {
  width: 16px;
  height: 16px;
  background: url("../images/v3157_14557.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  overflow: hidden;
}
.v3157_14558 {
  width: 12px;
  height: 13px;
  background: url("../images/v3157_14558.png");
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 2px;
  border: 1px solid rgba(60,60,76,1);
}
.v3157_14559 {
  width: 35px;
  color: rgba(132,132,142,1);
  position: absolute;
  top: 0px;
  left: 24px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_14560 {
  width: 361px;
  height: 120px;
  background: rgba(255,255,255,1);
  padding: 8px 8px;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 288px;
  left: 0px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  overflow: hidden;
}
.v3157_14561 {
  width: 106px;
  height: 104px;
  background: url("../images/v3157_14561.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v3157_14562 {
  width: 227px;
  height: 96px;
  background: rgba(243,244,246,0.25);
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 126px;
  overflow: hidden;
}
.v3157_14563 {
  width: 71px;
  height: 20px;
  background: url("../images/v3157_14563.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_14564 {
  width: 10px;
  height: 10px;
  background: rgba(197,90,17,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  border-radius: 50%;
}
.v3157_14565 {
  width: 53px;
  color: rgba(132,132,142,1);
  position: absolute;
  top: 0px;
  left: 18px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_14566 {
  width: 227px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 28px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_14567 {
  width: 59px;
  height: 20px;
  background: url("../images/v3157_14567.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 76px;
  left: 0px;
  overflow: hidden;
}
.v3157_14568 {
  width: 16px;
  height: 16px;
  background: url("../images/v3157_14568.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  overflow: hidden;
}
.v3157_14569 {
  width: 12px;
  height: 13px;
  background: url("../images/v3157_14569.png");
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 2px;
  border: 1px solid rgba(60,60,76,1);
}
.v3157_14570 {
  width: 35px;
  color: rgba(132,132,142,1);
  position: absolute;
  top: 0px;
  left: 24px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
