* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v3157_4498 {
  width: 393px;
  height: 852px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v3157_4500 {
  width: 361px;
  height: 44px;
  background: url("../images/v3157_4500.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 16px;
  overflow: hidden;
}
.v3157_4501 {
  width: 48px;
  height: 44px;
  background: rgba(245,245,246,1);
  padding: 10px 12px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v3157_4502 {
  width: 24px;
  height: 24px;
  background: url("../images/v3157_4502.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 12px;
  overflow: hidden;
}
.v3157_4503 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 24px;
  overflow: hidden;
}
.v3157_4504 {
  width: 14px;
  background: url("../images/v3157_4504.png");
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 5px;
  border: 1.9999998807907104px solid rgba(60,60,76,1);
}
.v3157_4505 {
  width: 6px;
  height: 6px;
  background: url("../images/v3157_4505.png");
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 13px;
  border: 1.9999998807907104px solid rgba(60,60,76,1);
}
.v3157_4506 {
  width: 6px;
  height: 6px;
  background: url("../images/v3157_4506.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 13px;
  border: 1.9999998807907104px solid rgba(60,60,76,1);
}
.v3157_4507 {
  width: 241px;
  color: rgba(46,49,56,1);
  position: absolute;
  top: 12px;
  left: 60px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3157_4508 {
  width: 48px;
  height: 44px;
  background: rgba(245,245,246,1);
  padding: 10px 12px;
  margin: 10px;
  position: absolute;
  top: 0px;
  left: 313px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v3157_4509 {
  width: 24px;
  height: 24px;
  background: url("../images/v3157_4509.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 12px;
  overflow: hidden;
}
.v3157_4510 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_4511 {
  width: 14px;
  height: 19px;
  background: url("../images/v3157_4511.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 4px;
  overflow: hidden;
}
.v3157_4512 {
  width: 14px;
  height: 15px;
  background: url("../images/v3157_4512.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1.5px solid rgba(60,60,76,1);
}
.v3157_4513 {
  width: 4px;
  height: 1px;
  background: url("../images/v3157_4513.png");
  opacity: 0.4000000059604645;
  position: absolute;
  top: 18px;
  left: 5px;
  border: 1.5px solid rgba(60,60,76,1);
}
.v3157_4514 {
  width: 6px;
  height: 6px;
  background: rgba(247,85,85,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 16px;
  border-radius: 50%;
}
.v3157_4515 {
  width: 393px;
  height: 46px;
  background: linear-gradient(rgba(245,245,246,1), rgba(245,245,246,0));
  opacity: 1;
  position: absolute;
  top: 109px;
  left: 0px;
  overflow: hidden;
}
.v3157_4516 {
  width: 393px;
  height: 984px;
  background: rgba(245,245,246,1);
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 109px;
  left: 0px;
  overflow: hidden;
}
.v3157_4517 {
  width: 361px;
  height: 60px;
  background: url("../images/v3157_4517.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 16px;
  overflow: hidden;
}
.v3157_4518 {
  width: 89px;
  color: rgba(138,138,148,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v3157_4519 {
  width: 184px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 28px;
  left: 0px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v3157_4520 {
  width: 220px;
  height: 50px;
  background: rgba(197,90,17,1);
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 116px;
  left: 16px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v3157_4521 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 18px;
  overflow: hidden;
}
.v3157_4522 {
  width: 18px;
  height: 18px;
  background: url("../images/v3157_4522.png");
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 3px;
  border: 1.5px solid rgba(255,192,0,1);
}
.v3157_4523 {
  width: 148px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 11px;
  left: 54px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v3157_4524 {
  width: 361px;
  height: 421px;
  background: url("../images/v3157_4524.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 247px;
  left: 16px;
  overflow: hidden;
}
.v3157_4525 {
  width: 361px;
  height: 421px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1.5px solid rgba(243,243,243,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 4px 100px rgba(0.7921568751335144, 0.7921568751335144, 0.7921568751335144, 0.20000000298023224);
  overflow: hidden;
}
.v3157_4526 {
  width: 70px;
  color: rgba(132,132,142,1);
  position: absolute;
  top: 24px;
  left: 24px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v3157_4527 {
  width: 64px;
  color: rgba(132,132,142,1);
  position: absolute;
  top: 24px;
  left: 213px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v3157_4528 {
  width: 80px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 40px;
  left: 24px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 34px;
  opacity: 1;
  text-align: left;
}
.v3157_4529 {
  width: 34px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 40px;
  left: 213px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 34px;
  opacity: 1;
  text-align: left;
}
.v3157_4530 {
  width: 43px;
  height: 43px;
  background: rgba(249,239,231,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 115px;
  border-top-left-radius: 177px;
  border-top-right-radius: 177px;
  border-bottom-left-radius: 177px;
  border-bottom-right-radius: 177px;
  overflow: hidden;
}
.v3157_4531 {
  width: 17px;
  height: 17px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 13px;
  overflow: hidden;
}
.v3157_4532 {
  width: 14px;
  height: 9px;
  background: url("../images/v3157_4532.png");
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 1px;
  border: 1.0635720491409302px solid rgba(218,151,105,1);
}
.v3157_4533 {
  width: 4px;
  height: 4px;
  background: url("../images/v3157_4533.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 6px;
  border: 1.0635720491409302px solid rgba(218,151,105,1);
}
.v3157_4534 {
  width: 43px;
  height: 43px;
  background: rgba(249,239,231,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 296px;
  border-top-left-radius: 177px;
  border-top-right-radius: 177px;
  border-bottom-left-radius: 177px;
  border-bottom-right-radius: 177px;
  overflow: hidden;
}
.v3157_4535 {
  width: 17px;
  height: 17px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 14px;
  overflow: hidden;
}
.v3157_4536 {
  width: 12px;
  height: 12px;
  background: url("../images/v3157_4536.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
  border: 1.0635720491409302px solid rgba(218,151,105,1);
}
.name {
  color: #fff;
}
.v3157_4538 {
  width: 58px;
  color: rgba(132,132,142,1);
  position: absolute;
  top: 113px;
  left: 24px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v3157_4539 {
  width: 59px;
  color: rgba(132,132,142,1);
  position: absolute;
  top: 113px;
  left: 213px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v3157_4540 {
  width: 44px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 128px;
  left: 24px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 34px;
  opacity: 1;
  text-align: left;
}
.v3157_4541 {
  width: 41px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 128px;
  left: 213px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 34px;
  opacity: 1;
  text-align: left;
}
.v3157_4542 {
  width: 43px;
  height: 43px;
  background: rgba(249,239,231,1);
  opacity: 1;
  position: absolute;
  top: 118px;
  left: 115px;
  border-top-left-radius: 177px;
  border-top-right-radius: 177px;
  border-bottom-left-radius: 177px;
  border-bottom-right-radius: 177px;
  overflow: hidden;
}
.v3157_4543 {
  width: 17px;
  height: 17px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 13px;
  overflow: hidden;
}
.v3157_4544 {
  width: 14px;
  height: 14px;
  background: url("../images/v3157_4544.png");
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  border: 1.0635720491409302px solid rgba(218,151,105,1);
}
.v3157_4545 {
  width: 7px;
  background: url("../images/v3157_4545.png");
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 6px;
  border: 1.0635720491409302px solid rgba(218,151,105,1);
}
.v3157_4546 {
  width: 43px;
  height: 43px;
  background: rgba(249,239,231,1);
  opacity: 1;
  position: absolute;
  top: 118px;
  left: 296px;
  border-top-left-radius: 177px;
  border-top-right-radius: 177px;
  border-bottom-left-radius: 177px;
  border-bottom-right-radius: 177px;
  overflow: hidden;
}
.v3157_4547 {
  width: 17px;
  height: 17px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 13px;
  overflow: hidden;
}
.v3157_4548 {
  width: 14px;
  height: 12px;
  background: url("../images/v3157_4548.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 1px;
  border: 1.0635720491409302px solid rgba(218,151,105,1);
}
.name {
  color: #fff;
}
.v3157_4550 {
  width: 166px;
  color: rgba(132,132,142,1);
  position: absolute;
  top: 196px;
  left: 16px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_4551 {
  width: 316px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 216px;
  left: 16px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_4552 {
  width: 150px;
  color: rgba(132,132,142,1);
  position: absolute;
  top: 288px;
  left: 16px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_4553 {
  width: 181px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 308px;
  left: 16px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_4554 {
  width: 121px;
  color: rgba(132,132,142,1);
  position: absolute;
  top: 356px;
  left: 16px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v3157_4555 {
  width: 121px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 374px;
  left: 16px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_4556 {
  width: 166px;
  color: rgba(132,132,142,1);
  position: absolute;
  top: 356px;
  left: 111px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v3157_4557 {
  width: 237px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 374px;
  left: 111px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_4558 {
  width: 413px;
  height: 35px;
  background: url("../images/v3157_4558.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 302px;
  left: 16px;
  overflow: hidden;
}
.v3157_4559 {
  width: 146px;
  height: 35px;
  background: url("../images/v3157_4559.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 7px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_4560 {
  width: 146px;
  height: 24px;
  background: url("../images/v3157_4560.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_4561 {
  width: 98px;
  color: rgba(197,90,17,1);
  position: absolute;
  top: 0px;
  left: 24px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_4562 {
  width: 146px;
  height: 4px;
  background: rgba(197,90,17,1);
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 0px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  overflow: hidden;
}
.v3157_4563 {
  width: 103px;
  height: 24px;
  background: url("../images/v3157_4563.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 152px;
  overflow: hidden;
}
.v3157_4564 {
  width: 55px;
  color: rgba(157,157,165,1);
  position: absolute;
  top: 0px;
  left: 24px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v3157_4565 {
  width: 152px;
  height: 24px;
  background: url("../images/v3157_4565.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 261px;
  overflow: hidden;
}
.v3157_4566 {
  width: 104px;
  color: rgba(157,157,165,1);
  position: absolute;
  top: 0px;
  left: 24px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
