* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v3157_2416 {
  width: 393px;
  height: 1133px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_2417 {
  width: 273px;
  height: 70px;
  background: url("../images/v3157_2417.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 172px;
  left: 16px;
  overflow: hidden;
}
.v3157_2418 {
  width: 68px;
  color: rgba(138,138,148,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v3157_2419 {
  width: 273px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 38px;
  left: 0px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v3157_2420 {
  width: 85px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 277px;
  left: 16px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_2421 {
  width: 361px;
  height: 50px;
  background: rgba(255,255,255,1);
  padding: 13px 20px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 308px;
  left: 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v3157_2422 {
  width: 78px;
  color: rgba(53,53,53,1);
  position: absolute;
  top: 13px;
  left: 20px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_2423 {
  width: 85px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 380px;
  left: 16px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_2424 {
  width: 361px;
  height: 50px;
  background: rgba(255,255,255,1);
  padding: 13px 20px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 411px;
  left: 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v3157_2425 {
  width: 12px;
  color: rgba(53,53,53,1);
  position: absolute;
  top: 13px;
  left: 20px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_2426 {
  width: 113px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 483px;
  left: 16px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_2427 {
  width: 361px;
  height: 50px;
  background: rgba(255,255,255,1);
  padding: 13px 20px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 514px;
  left: 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v3157_2428 {
  width: 244px;
  color: rgba(53,53,53,1);
  position: absolute;
  top: 13px;
  left: 20px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_2429 {
  width: 119px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 586px;
  left: 16px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_2430 {
  width: 361px;
  height: 50px;
  background: rgba(255,255,255,1);
  padding: 13px 20px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 617px;
  left: 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v3157_2431 {
  width: 28px;
  color: rgba(53,53,53,1);
  position: absolute;
  top: 13px;
  left: 20px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_2432 {
  width: 2px;
  height: 20px;
  background: rgba(209,209,214,1);
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 72px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v3157_2433 {
  width: 98px;
  color: rgba(53,53,53,1);
  position: absolute;
  top: 13px;
  left: 84px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_2434 {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 52px;
  overflow: hidden;
}
.v3157_2435 {
  width: 7px;
  height: 4px;
  background: rgba(197,197,201,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 2px;
}
.v3157_2436 {
  width: 77px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 689px;
  left: 16px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_2437 {
  width: 361px;
  height: 50px;
  background: rgba(255,255,255,1);
  padding: 13px 20px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 720px;
  left: 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v3157_2438 {
  width: 134px;
  color: rgba(53,53,53,1);
  position: absolute;
  top: 13px;
  left: 20px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_2439 {
  width: 24px;
  height: 24px;
  background: url("../images/v3157_2439.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 321px;
  overflow: hidden;
}
.v3157_2440 {
  width: 20px;
  height: 14px;
  background: url("../images/v3157_2440.png");
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 2px;
  border: 1px solid rgba(128,128,149,1);
}
.v3157_2441 {
  width: 146px;
  color: rgba(60,60,76,1);
  position: absolute;
  top: 792px;
  left: 16px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_2442 {
  width: 361px;
  height: 50px;
  background: rgba(255,255,255,1);
  padding: 13px 20px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 823px;
  left: 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v3157_2443 {
  width: 134px;
  color: rgba(53,53,53,1);
  position: absolute;
  top: 13px;
  left: 20px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3157_2444 {
  width: 24px;
  height: 24px;
  background: url("../images/v3157_2444.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 321px;
  overflow: hidden;
}
.v3157_2445 {
  width: 20px;
  height: 14px;
  background: url("../images/v3157_2445.png");
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 2px;
  border: 1px solid rgba(128,128,149,1);
}
.name {
  color: #fff;
}
.v3157_2447 {
  width: 329px;
  color: url("../images/v3157_2447.png");
  position: absolute;
  top: 889px;
  left: 48px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3157_2448 {
  width: 361px;
  height: 50px;
  background: rgba(197,90,17,1);
  opacity: 1;
  position: absolute;
  top: 963px;
  left: 16px;
}
.v3157_2449 {
  width: 69px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 976px;
  left: 162px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v3157_2450 {
  width: 261px;
  color: url("../images/v3157_2450.png");
  position: absolute;
  top: 1027px;
  left: 66px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v3157_2451 {
  width: 393px;
  height: 140px;
  background: url("../images/v3157_2451.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v3157_2453 {
  width: 142px;
  height: 54px;
  background: url("../images/v3157_2453.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 68px;
  left: 125px;
  overflow: hidden;
}
.v3157_2454 {
  width: 60px;
  height: 54px;
  background: url("../images/v3157_2454.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 30px;
  overflow: hidden;
}
.v3157_2455 {
  width: 20px;
  height: 16px;
  background: rgba(129,129,140,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 11px;
}
.v3157_2456 {
  width: 23px;
  height: 16px;
  background: rgba(255,192,0,1);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 28px;
}
.v3157_2457 {
  width: 60px;
  height: 54px;
  background: rgba(197,90,17,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v3157_2458 {
  width: 6px;
  height: 8px;
  background: rgba(204,153,0,1);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 31px;
}
.v3157_2459 {
  width: 8px;
  height: 10px;
  background: rgba(250,243,229,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 77px;
}
.v3157_2460 {
  width: 9px;
  height: 10px;
  background: rgba(250,243,229,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 133px;
}
.v3157_2461 {
  width: 11px;
  height: 17px;
  background: rgba(250,243,229,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 121px;
}
.v3157_2462 {
  width: 9px;
  height: 15px;
  background: rgba(250,243,229,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 87px;
}
.v3157_2463 {
  width: 9px;
  height: 10px;
  background: rgba(250,243,229,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 110px;
}
.v3157_2464 {
  width: 10px;
  height: 10px;
  background: rgba(250,243,229,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 99px;
}
.v3157_2465 {
  width: 17px;
  height: 15px;
  background: rgba(250,243,229,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 0px;
}
.v3157_2466 {
  width: 3px;
  height: 14px;
  background: rgba(250,243,229,1);
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 19px;
}
.v3157_2467 {
  width: 9px;
  height: 10px;
  background: rgba(250,243,229,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 24px;
}
.v3157_2468 {
  width: 10px;
  height: 15px;
  background: rgba(250,243,229,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 36px;
}
