* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v3157_2343 {
  width: 393px;
  height: 852px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3157_2344 {
  width: 393px;
  height: 852px;
  background: url("../images/v3157_2344.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v3157_2346 {
  width: 292px;
  height: 111px;
  background: url("../images/v3157_2346.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 370px;
  left: 50px;
  overflow: hidden;
}
.v3157_2347 {
  width: 124px;
  height: 111px;
  background: url("../images/v3157_2347.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 63px;
  overflow: hidden;
}
.v3157_2348 {
  width: 42px;
  height: 34px;
  background: rgba(129,129,140,1);
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 24px;
}
.v3157_2349 {
  width: 47px;
  height: 34px;
  background: rgba(255,192,0,1);
  opacity: 1;
  position: absolute;
  top: 53px;
  left: 58px;
}
.v3157_2350 {
  width: 124px;
  height: 111px;
  background: rgba(197,90,17,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v3157_2351 {
  width: 12px;
  height: 16px;
  background: rgba(204,153,0,1);
  opacity: 1;
  position: absolute;
  top: 53px;
  left: 64px;
}
.v3157_2352 {
  width: 18px;
  height: 21px;
  background: rgba(250,243,229,1);
  opacity: 1;
  position: absolute;
  top: 46px;
  left: 158px;
}
.v3157_2353 {
  width: 20px;
  height: 21px;
  background: rgba(250,243,229,1);
  opacity: 1;
  position: absolute;
  top: 46px;
  left: 272px;
}
.v3157_2354 {
  width: 22px;
  height: 36px;
  background: rgba(250,243,229,1);
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 248px;
}
.v3157_2355 {
  width: 19px;
  height: 30px;
  background: rgba(250,243,229,1);
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 180px;
}
.v3157_2356 {
  width: 19px;
  height: 20px;
  background: rgba(250,243,229,1);
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 226px;
}
.v3157_2357 {
  width: 20px;
  height: 21px;
  background: rgba(250,243,229,1);
  opacity: 1;
  position: absolute;
  top: 46px;
  left: 203px;
}
.v3157_2358 {
  width: 36px;
  height: 31px;
  background: rgba(250,243,229,1);
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 0px;
}
.v3157_2359 {
  width: 7px;
  height: 30px;
  background: rgba(250,243,229,1);
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 40px;
}
.v3157_2360 {
  width: 19px;
  height: 20px;
  background: rgba(250,243,229,1);
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 50px;
}
.v3157_2361 {
  width: 21px;
  height: 31px;
  background: rgba(250,243,229,1);
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 73px;
}
